.follow {
  max-width: 700px;
  margin: 30px auto 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.25rem;
  border-top: 2px solid #eeeeee;
  padding-top: 30px;
}

.follow p {
  border: none;
  line-height: 1.3;
}

.follow__buttons {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-evenly;
  max-width: 190px;
  width: 100%;
}

.follow__buttons li {
  display: inline;
}

.follow__buttons img {
  width: 32px;
}

.social_list {
  padding: 0;
  list-style: none;
  margin: 10px auto 0;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  position: relative;
}

.social_list li {
  height: 35px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  background-color: var(--dark-color);
  border-radius: 100%;
  padding: 8px;
}

.social_list li a {
  text-decoration: none;
  color: var(--color-white);
  position: relative;
  opacity: 0.7;
  display: flex;
  text-decoration-skip-ink: auto;
  padding: 10px;
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.social_list li:hover a {
  color: var(--color-blue-500);
}

.social_list svg {
  height: 25px;
  width: 25px;
}

@media screen and (max-width: 768px) {
  .follow {
    margin: 30px auto 50px;
  }
}