.pagination {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 0;
  margin: 50px auto;
  align-items: center;
  max-width: 500px;
}

.pageNumber {
  height: 40px;
  width: 40px;
  background: #eeeeee;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1c1c1c;
  cursor: pointer;
  transition: .2s;
  font-weight: 700;
}

.pageNumberLink {
  outline: none;
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.pageNumberLink:hover {
  opacity: .8;
}

.active {
  background: #0078ae;
  color: #ffffff;
}

.previous,
.next {
  width: 80px;
}

.disabled {
  display: none;
}

@media screen and (max-width: 768px) {

  .pagination-container {
    width: 100%;
  }

  .pagination {
    flex-wrap: wrap;
    row-gap: 10px;
  }

  .item {
    margin: 0px 0 10px;
  }
}