<section class='contact'>
  <h6>Ponerse en Contacto</h6>
  <article class='description'>
    <p>
      Aquí puedes dejarme tus comentarios, sugerencias o resolver cualquier problema que puedas tener. Espero con
      interés leer tu mensaje. Tu opinión es valiosa para mí.
    </p>
    <div class='data'>
      <h4>Colombia</h4>
      <span>me@johnserrano.co</span>
    </div>
  </article>

  <a class='email_link' href='mailto:me@johnserrano.co' rel='noopener noreferrer' target='_blank'>Contáctame</a>
</section>

<style>
  .contact {
    margin: 100px auto;
    max-width: 600px;
    text-align: center;
  }

  h6 {
    font-size: var(--font-size-large);
    color: var(--color-white);
    line-height: 2.3rem;
    margin: 0;
    text-wrap: balance;
    margin-bottom: 40px;
  }
  .email_link {
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    background: transparent;
    border: 1px solid var(--color-blue-500);
    color: var(--color-blue-500);
    font-size: var(--font-size-medium-small);
    transition: all 0.3s;
    outline: none;
    display: inline-block;
  }
  .email_link:hover {
    box-shadow: 4px 4px 0 0 var(--color-blue-500);
    transform: translate(-5px, -5px);
  }

  .description {
    margin-bottom: 40px;
  }

  .description p {
    color: var(--color-white-opacity-70);
    font-size: var(--font-size-medium);
    line-height: 1.8rem;
    text-align: center;
    margin: 0 0 30px;
  }
  .data {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--color-white-opacity-70);
    font-size: var(--font-size-medium-small);
    line-height: 1.3rem;
    gap: 10px;
  }
  .data h4 {
    color: var(--color-yellow);
    margin: 0;
  }
</style>
