<section class='experience'>
  <h2>Donde he trabajo</h2>

  <ul>
    <li class='experience'>
      <h3>La Opinión</h3>
      <span>Software Engineer</span>
    </li>
    <li class='experience'>
      <h3>La Opinión</h3>
      <span>Desarrollador web Full Stack</span>
    </li>
    <li class='experience'>
      <h3>Plasticos formosa</h3>
      <span>Programador de Software</span>
    </li>
  </ul>
</section>
