<header>
  <div>
    <h1>Hi, Soy John Serrano</h1>
    <h2>Ingeniero de Software</h2>
    <p>
      Soy un ingeniero de software con más de 7 años de experiencia. Apasionado por las tecnologías web, me especializo
      en la creación de experiencias digitales excepcionales.
    </p>
  </div>
  <div>foto</div>
</header>

<style>
  header {
    color: var(--color-white);
  }
</style>
