---
import Layout from '../../layouts/index.astro'
import About from './about.astro'
import Header from './header.astro'
import Skills from './skills.astro'
import Experience from './experience.astro'
---

<Layout
  title='Portafolio - John Serrano'
  description='Una colección de algunos proyectos en los que he trabajado a lo largo de mi carrera, donde trabajo con diferentes tecnologías: JavaScript, Node.js, Express, React, Drupal 7, Next.js, Firebase, etc.'
  image=''
  url='https://johnserrano.co/portafolio'
  titleOpenGraph='Portafolio - John Serrano'
  date=''
  modified=''
>
  <main id='Portafolio'>
    <section class='container'>
      <Header />
      <About />
      <Skills />
      <Experience />
    </section>
  </main>
</Layout>

<style>
  #Portafolio {
    --primary-color: #003566;
    --dark-color: #000814;
    --color-blue: #001d3d;
    --secondary-color: #002851;
    --tertiary-color: #004d94;
    --color-blue-500: #007cff;
    --color-blue-800: #004095;
    --light-gray: #344358;
    --color-gray: #2f3a4c;
    --dark-gray: #1f2532;
    --color-white: #fff;
    --color-black: #000;
    --color-yellow: #ffc300;
    --container: 1000px;
    --font-size-small: 0.5rem;
    --font-size-normal: 1rem;
    --font-size-medium-small: 1.3rem;
    --font-size-medium-text: 1.2rem;
    --font-size-medium: 1.5rem;
    --font-size-large: 2rem;
    --font-size-x-large: 3.3rem;

    flex: 1;
    background: var(--dark-color);
  }

  .container {
    max-width: var(--container);
    margin: 0 auto;
  }

  @media screen and (max-width: 768px) {
  }
</style>
