---
import Layout from '@/layouts/index.astro'
import About from '@/components/portafolio/about.astro'
import Header from '@/components/portafolio/header.astro'
import Skills from '@/components/portafolio/skills.astro'
import Experience from '@/components/portafolio/experience.astro'
import Projects from '@/components/portafolio/projects.astro'
import MoreProjects from '@/components/portafolio/more-projects.astro'
import Testimonial from '@/components/portafolio/testimonial.astro'
import Contact from '@/components/portafolio/contact.astro'
import Posts from '@/components/portafolio/posts.astro'
---

<Layout
  title='Portafolio - John Serrano | Frontend, JavaScript, TypeScript, React, Node.js'
  description='John Serrano es un ingeniero de software apasionado, experto en la creación e implementación de soluciones tecnológicas que dan vida a experiencias digitales únicas.'
  image='/portafolio/portada-john-serrano.png'
  url='https://johnserrano.co/portafolio'
  titleOpenGraph='Portafolio - John Serrano | Frontend, JavaScript, TypeScript, React, Node.js'
  date=''
  modified=''
>
  <main id='Portafolio'>
    <section class='container'>
      <Header />
      <About />
      <Skills />
      <Experience />
      <Projects />
      <MoreProjects />
      <Testimonial />
      <Contact />
      <Posts />
    </section>
  </main>
</Layout>

<style>
  html {
    scroll-behavior: smooth;
  }
  #Portafolio {
    --primary-color: #003566;
    --dark-color: #000814;
    --color-blue: #001d3d;
    --secondary-color: #002851;
    --tertiary-color: #004d94;
    --color-blue-500: #007cff;
    --color-blue-600: #005fdf;
    --color-blue-700: #004bb4;
    --color-blue-800: #004095;
    --color-blue-900: #002e6b;
    --light-gray: #344358;
    --color-gray: #2f3a4c;
    --dark-gray: #1f2532;
    --color-white: #fff;
    --color-white-opacity-70: #ffffffb3;
    --color-black: #000;
    --color-yellow: #ffc300;
    --container: 1000px;
    --font-size-small: 0.98rem;
    --font-size-normal: 1rem;
    --font-size-medium-small: 1.3rem;
    --font-size-medium-text: 1.2rem;
    --font-size-medium: 1.5rem;
    --font-size-large: 2rem;
    --font-size-x-large: 3.3rem;

    flex: 1;
    background: var(--dark-color);
  }

  .container {
    max-width: var(--container);
    margin: 0 auto;
  }

  body {
    background-color: #000814;
  }

  @media screen and (max-width: 768px) {
    .container {
      width: 100%;
      padding: 0 20px;
      box-sizing: border-box;
    }
  }
</style>
