---
import Layout from '@/layouts/index.astro'
import About from '@/components/portafolio/about.astro'
import Header from '@/components/portafolio/header.astro'
import Skills from '@/components/portafolio/skills.astro'
import Experience from '@/components/portafolio/experience.astro'
import Projects from '@/components/portafolio/projects.astro'
import MoreProjects from '@/components/portafolio/more-projects.astro'
import Testimonial from '@/components/portafolio/testimonial.astro'
import Contact from '@/components/portafolio/contact.astro'
import Posts from '@/components/portafolio/posts.astro'

import '@/styles/portafolio-vars.css'
---

<Layout
  title='Portafolio - John Serrano | Frontend, JavaScript, TypeScript, React, Node.js'
  description='John Serrano es un ingeniero de software apasionado, experto en la creación e implementación de soluciones tecnológicas que dan vida a experiencias digitales únicas.'
  image='/portafolio/portada-john-serrano.png'
  url='https://johnserrano.co/portafolio'
  titleOpenGraph='Portafolio - John Serrano | Frontend, JavaScript, TypeScript, React, Node.js'
  date=''
  modified=''
>
  <main id='Portafolio'>
    <section class='container'>
      <Header />
      <About />
      <Skills />
      <Experience />
      <Projects />
      <MoreProjects />
      <Testimonial />
      <Contact />
      <Posts />
    </section>
  </main>
</Layout>

<style>
  html {
    scroll-behavior: smooth;
  }

  .container {
    max-width: var(--container);
    margin: 0 auto;
  }

  body {
    background-color: #000814;
  }

  @media screen and (max-width: 768px) {
    .container {
      width: 100%;
      padding: 0 20px;
      box-sizing: border-box;
    }
  }
</style>
