---
import IconoGithub from './icons/icono-github.astro'
import IconoExternalLink from './icons/icono-external-link.astro'
import IconoFolder from './icons/icono-folder.astro'
---

<section class='more_projects'>
  <h6 data-aos='fade-up' data-aos-delay='50'>Otros Proyectos Destacados</h6>

  <ul class='project_list'>
    <li data-aos='fade-up' data-aos-delay='50'>
      <div class='project'>
        <header>
          <div class='project_top'>
            <div class='folder'>
              <IconoFolder />
            </div>
            <div class='project_links'>
              <a
                href='https://github.com/johnsi15/apiMoviesTypeScript'
                aria-label='GitHub Link'
                target='_blank'
                rel='noopener noreferrer'><IconoGithub /></a
              >
              <a
                href='https://movies-john-serrano.koyeb.app/api/movies/public'
                aria-label='External Link'
                class='external'
                target='_blank'
                rel='noopener noreferrer'
                ><IconoExternalLink />
              </a>
            </div>
          </div>

          <h3 class='title'>
            <a href='https://movies-john-serrano.koyeb.app/api/movies/public' target='_blank' rel='noopener noreferrer'
              >API de Películas (REST)</a
            >
          </h3>

          <div class='description'>
            <p>
              Desarrolle una API REST de películas, diseñada para ofrecer una amplia gama de funcionalidades
              relacionadas con la gestión de películas. Desde la obtención de información sobre películas hasta la
              creación y actualización de registros.
            </p>
          </div>
        </header>
        <footer>
          <ul class='project_tech_list'>
            <li>TypeScript</li>
            <li>NodeJS</li>
            <li>MongoDB</li>
          </ul>
        </footer>
      </div>
    </li>
    <li data-aos='fade-up' data-aos-delay='100'>
      <div class='project'>
        <header>
          <div class='project_top'>
            <div class='folder'>
              <IconoFolder />
            </div>
            <div class='project_links'>
              <!-- <a href='/' aria-label='GitHub Link' target='_blank' rel='noopener noreferrer'><IconoGithub /></a> -->
              <a
                href='https://www.laopinion.com.co/la-o'
                aria-label='External Link'
                class='external'
                target='_blank'
                rel='noopener noreferrer'
                ><IconoExternalLink />
              </a>
            </div>
          </div>

          <h3 class='title'>
            <a href='https://www.laopinion.com.co/la-o' target='_blank' rel='noopener noreferrer'>Revista La Ó</a>
          </h3>

          <div class='description'>
            <p>
              Trabaje en la creación de la página web "Revista La Ó", llevando del impreso esta revista a lo digital
              donde puedes encontrar, últimas noticias y novedades de la farándula y eventos de entretenimiento
              favoritos.
            </p>
          </div>
        </header>
        <footer>
          <ul class='project_tech_list'>
            <li>JavaScript</li>
            <li>Sass</li>
            <li>Drupal 9</li>
          </ul>
        </footer>
      </div>
    </li>
    <li data-aos='fade-up' data-aos-delay='150'>
      <div class='project'>
        <header>
          <div class='project_top'>
            <div class='folder'>
              <IconoFolder />
            </div>
            <div class='project_links'>
              <a
                href='https://github.com/jandrey15/accounting-app'
                aria-label='GitHub Link'
                target='_blank'
                rel='noopener noreferrer'><IconoGithub /></a
              >
              <a
                href='https://contabilidad.johnserrano.co/'
                aria-label='External Link'
                class='external'
                target='_blank'
                rel='noopener noreferrer'
                ><IconoExternalLink />
              </a>
            </div>
          </div>

          <h3 class='title'>
            <a href='https://contabilidad.johnserrano.co/' target='_blank' rel='noopener noreferrer'
              >Ingresos y Gastos</a
            >
          </h3>

          <div class='description'>
            <p>
              Desarrollé una aplicación web diseñada para llevar un registro detallado de tus ingresos y gastos. Con
              esta herramienta, puedes tener un control de tus gastos mensuales, todo organizado en diversas categorías
              para clasificar los tipos de gastos.
            </p>
          </div>
        </header>
        <footer>
          <ul class='project_tech_list'>
            <li>NextJS</li>
            <li>Airtable</li>
            <li>Tremor</li>
          </ul>
        </footer>
      </div>
    </li>
    <li data-aos='fade-up' data-aos-delay='200'>
      <div class='project'>
        <header>
          <div class='project_top'>
            <div class='folder'>
              <IconoFolder />
            </div>
            <div class='project_links'>
              <a
                href='https://github.com/laopinion/module-portafolio-clientes'
                aria-label='GitHub Link'
                target='_blank'
                rel='noopener noreferrer'><IconoGithub /></a
              >
              <a
                href='https://portafolio-para-clientes.netlify.app/'
                aria-label='External Link'
                class='external'
                target='_blank'
                rel='noopener noreferrer'
                ><IconoExternalLink />
              </a>
            </div>
          </div>

          <h3 class='title'>
            <a href='https://portafolio-para-clientes.netlify.app/' target='_blank' rel='noopener noreferrer'
              >Portafolio para Clientes</a
            >
          </h3>

          <div class='description'>
            <p>
              Este módulo fue desarrollado con ReactJS, ofrece a nuestros clientes una buena experiencia para elegir la
              estrategia publicitaria que mejor se adapte a los objetivos de los usuarios. El módulo se destaca por su
              atractivo diseño y la facilidad de navegación.
            </p>
          </div>
        </header>
        <footer>
          <ul class='project_tech_list'>
            <li>ReactJS</li>
            <li>Vite</li>
            <li>Sass</li>
          </ul>
        </footer>
      </div>
    </li>
    <li data-aos='fade-up' data-aos-delay='250'>
      <div class='project'>
        <header>
          <div class='project_top'>
            <div class='folder'>
              <IconoFolder />
            </div>
            <div class='project_links'>
              <a
                href='https://github.com/johnsi15/pruebas-tecnicas/tree/main/pruebas/01-reading-list'
                aria-label='GitHub Link'
                target='_blank'
                rel='noopener noreferrer'><IconoGithub /></a
              >
              <a
                href='https://books-list-andrey.netlify.app/'
                aria-label='External Link'
                class='external'
                target='_blank'
                rel='noopener noreferrer'
                ><IconoExternalLink />
              </a>
            </div>
          </div>

          <h3 class='title'>
            <a href='https://books-list-andrey.netlify.app/' target='_blank' rel='noopener noreferrer'
              >Lista de Lecturas</a
            >
          </h3>

          <div class='description'>
            <p>
              "Lista de Lecturas" es una solución a una prueba técnica para gestionar tu lista personalizada de libros.
              Con la capacidad de filtrar por categorías y cantidad de páginas, esta herramienta se adapta a tus
              preferencias, permitiéndote encontrar fácilmente los libros que se ajustan a tus intereses.
            </p>
          </div>
        </header>
        <footer>
          <ul class='project_tech_list'>
            <li>ReactJS</li>
            <li>Zustand</li>
            <li>Framer Motion</li>
          </ul>
        </footer>
      </div>
    </li>
    <li data-aos='fade-up' data-aos-delay='300'>
      <div class='project'>
        <header>
          <div class='project_top'>
            <div class='folder'>
              <IconoFolder />
            </div>
            <div class='project_links'>
              <a
                href='https://github.com/johnsi15/buscador-peliculas'
                aria-label='GitHub Link'
                target='_blank'
                rel='noopener noreferrer'><IconoGithub /></a
              >
              <a
                href='https://search-movies-list.netlify.app/'
                aria-label='External Link'
                class='external'
                target='_blank'
                rel='noopener noreferrer'
                ><IconoExternalLink />
              </a>
            </div>
          </div>

          <h3 class='title'>
            <a href='https://search-movies-list.netlify.app/' target='_blank' rel='noopener noreferrer'
              >Buscador de Películas</a
            >
          </h3>

          <div class='description'>
            <p>
              Esta aplicación de búsqueda de películas, desarrollada como parte de una prueba técnica utilizando
              ReactJS, su enfoque se centra en el uso de los diferentes hooks de ReactJS. Diseñada para brindar una
              experiencia de usuario fluida y eficiente, la aplicación presenta optimizaciones clave.
            </p>
          </div>
        </header>
        <footer>
          <ul class='project_tech_list'>
            <li>ReactJS</li>
            <li>TypeScript</li>
            <li>Debounce</li>
          </ul>
        </footer>
      </div>
    </li>
  </ul>

  <!-- <button>Ver más</button>  -> the future load more projects -->
</section>

<script>
  import AOS from 'aos'
  import 'aos/dist/aos.css'

  AOS.init({
    // Global settings:
    disable: false, // accepts following values: 'phone', 'tablet', 'mobile', boolean, expression or function
    startEvent: 'DOMContentLoaded', // name of the event dispatched on the document, that AOS should initialize on
    initClassName: 'aos-init', // class applied after initialization
    animatedClassName: 'aos-animate', // class applied on animation
    useClassNames: false, // if true, will add content of `data-aos` as classes on scroll
    disableMutationObserver: false, // disables automatic mutations' detections (advanced)
    debounceDelay: 50, // the delay on debounce used while resizing window (advanced)
    throttleDelay: 99, // the delay on throttle used while scrolling the page (advanced)

    // Settings that can be overridden on per-element basis, by `data-aos-*` attributes:
    offset: 120, // offset (in px) from the original trigger point
    delay: 0, // values from 0 to 3000, with step 50ms
    duration: 400, // values from 0 to 3000, with step 50ms
    easing: 'ease-in-out', // default easing for AOS animations
    once: true, // whether animation should happen only once - while scrolling down
    mirror: false, // whether elements should animate out while scrolling past them
    anchorPlacement: 'top-bottom', // defines which position of the element regarding to window should trigger the animation
  })
</script>

<style>
  .more_projects {
    margin: 100px 0;
  }

  h6 {
    font-size: var(--font-size-large);
    color: var(--color-white);
    line-height: 2.3rem;
    margin: 0;
    text-wrap: balance;
    margin-bottom: 40px;
    text-align: center;
  }

  .project_list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 15px;
    position: relative;
  }

  .project_list li {
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  .project_list li:hover .project,
  .project_list li:focus-within .project {
    transform: translateY(-7px);
    box-shadow: 0 10px 30px -15px var(--color-blue-700);
  }

  .project_links {
    display: flex;
    align-items: center;
    -webkit-box-align: center;
    margin-right: -10px;
  }

  .project_links a {
    text-decoration: none;
    color: var(--color-white);
    opacity: 0.7;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    padding: 5px 7px;
    position: relative;
    z-index: 1;
  }

  .project_links a:hover,
  .project_links a:focus {
    color: var(--color-blue-500);
  }

  .project {
    background-color: var(--color-blue-900);
    padding: 30px 28px;
    box-sizing: border-box;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    border-radius: 4px;
    transition: all 0.3s;
    height: 100%;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    overflow: auto;
  }
  .project_top {
    display: flex;
    justify-content: space-between;
    -webkit-box-pack: justify;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 30px;
  }

  .description {
    font-size: var(--font-size-normal);
    line-height: 1.3rem;
    color: var(--color-white-opacity-70);
    background-color: var(--color-blue-900);
  }

  .description p {
    margin: 0;
  }

  .title {
    font-size: var(--font-size-medium);
    line-height: 1.8rem;
    margin: 0 0 10px;
  }
  .title a {
    text-decoration: none;
    color: var(--color-white);
    position: static;
    display: inline-block;
    transition: all 0.3s;
  }
  .title a:hover {
    color: var(--color-blue-500);
  }
  .title a::before {
    content: '';
    display: block;
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
  }
  .project_tech_list {
    padding: 0;
    list-style: none;
    display: flex;
    gap: 20px;
    color: var(--color-white-opacity-70);
    font-size: var(--font-size-small);
    margin: 25px 0 10px;
  }
  .folder {
    height: 40px;
  }
  @media screen and (max-width: 768px) {
    .more_projects {
      margin: 55px auto;
    }
  }
</style>
