<section id="projects" class='projects'>
  <h6>Amo Lo Que Hago Algunos De Mis Proyectos</h6>
  <ul class='project_list'>
    <li class='project'>
      <div class='info'>
        <div>
          <span class='featured'>Proyecto destacado</span>
          <h3>
            <a href='https://laopinion.github.io/elecciones-resultados/' rel='noopener noreferrer' target='_blank'
              >Resultados Elecciones Regionales Colombia 2023</a
            >
          </h3>
          <div class='description'>
            <p>
              El proyecto consiste en un módulo web que muestra los resultados de las elecciones regionales en Norte de
              Santander, Colombia. El módulo cuenta con cinco pestañas, cada una de las cuales muestra los resultados de
              una corporación de cargos públicos. Los datos se obtienen de archivos XML proporcionados por la
              Registraduría Nacional del Estado Civil de Colombia. Para facilitar el consumo de los datos, se ha
              construido una API que transforma los archivos XML en formato JSON.
            </p>
          </div>
          <ul class='project_tech_list'>
            <li>HTML5</li>
            <li>Sass</li>
            <li>JavaScript</li>
            <li>NodeJS</li>
            <li>Express</li>
          </ul>
          <div class='project_links'>
            <a
              href='https://github.com/laopinion/elecciones-resultados'
              aria-label='GitHub Link'
              rel='noopener noreferrer'
              target='_blank'
            >
              <svg
                xmlns='http://www.w3.org/2000/svg'
                role='img'
                viewBox='0 0 24 24'
                fill='none'
                stroke='currentColor'
                stroke-width='2'
                stroke-linecap='round'
                stroke-linejoin='round'
                class='feather feather-github'
                ><title>GitHub</title><path
                  d='M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22'
                ></path></svg
              >
            </a>
            <a
              href='https://laopinion.github.io/elecciones-resultados/'
              aria-label='External Link'
              class='external'
              rel='noopener noreferrer'
              target='_blank'
            >
              <svg
                xmlns='http://www.w3.org/2000/svg'
                role='img'
                viewBox='0 0 24 24'
                fill='none'
                stroke='currentColor'
                stroke-width='2'
                stroke-linecap='round'
                stroke-linejoin='round'
                class='feather feather-external-link'
                ><title>External Link</title><path d='M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6'
                ></path><polyline points='15 3 21 3 21 9'></polyline><line x1='10' y1='14' x2='21' y2='3'></line></svg
              >
            </a>
          </div>
        </div>
      </div>
      <div class='image'>
        <a href='https://laopinion.github.io/elecciones-resultados/' rel='noopener noreferrer' target='_blank'>
          <div class='filter'>
            <img
              src='/portafolio/projects/elecciones-resultados.webp'
              alt='Elecciones Regionales Resultados 2023'
              width='580'
              height='400'
              loading='lazy'
            />
          </div>
        </a>
      </div>
    </li>
    <li class='project'>
      <div class='info'>
        <div>
          <span class='featured'>Proyecto destacado</span>
          <h3>
            <a href='https://geeparts.co/' rel='noopener noreferrer' target='_blank'>Geeparts Ecommerce</a>
          </h3>
          <div class='description'>
            <p>
              He tenido el privilegio de crear y configurar "Geeparts", una tienda en línea que satisface las
              necesidades de entusiastas de las dos ruedas. Esta plataforma, construida con la versátil solución de
              Tienda Nube y respaldada por la seguridad de Open Pay como pasarela de pagos en línea, ofrece una
              experiencia de compra sin igual.
            </p>
            <p>
              Trabajar en Geeparts ha sido un proyecto emocionante, y estoy orgulloso de haber contribuido una
              plataforma en línea que ofrece todo lo que los amantes de las motos necesitan.
            </p>
          </div>
          <ul class='project_tech_list'>
            <li>HTML5</li>
            <li>CSS</li>
            <li>JavaScript</li>
            <li>Tienda Nube</li>
            <li>Ecommerce</li>
          </ul>
          <div class='project_links'>
            <!-- <a
              href='https://github.com/laopinion/elecciones-resultados'
              aria-label='GitHub Link'
              rel='noopener noreferrer'
              target='_blank'
            >
              <svg
                xmlns='http://www.w3.org/2000/svg'
                role='img'
                viewBox='0 0 24 24'
                fill='none'
                stroke='currentColor'
                stroke-width='2'
                stroke-linecap='round'
                stroke-linejoin='round'
                class='feather feather-github'
                ><title>GitHub</title><path
                  d='M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22'
                ></path></svg
              >
            </a> -->
            <a
              href='https://geeparts.co/'
              aria-label='External Link'
              class='external'
              rel='noopener noreferrer'
              target='_blank'
            >
              <svg
                xmlns='http://www.w3.org/2000/svg'
                role='img'
                viewBox='0 0 24 24'
                fill='none'
                stroke='currentColor'
                stroke-width='2'
                stroke-linecap='round'
                stroke-linejoin='round'
                class='feather feather-external-link'
                ><title>External Link</title><path d='M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6'
                ></path><polyline points='15 3 21 3 21 9'></polyline><line x1='10' y1='14' x2='21' y2='3'></line></svg
              >
            </a>
          </div>
        </div>
      </div>
      <div class='image'>
        <a href='https://geeparts.co/' rel='noopener noreferrer' target='_blank'>
          <div class='filter'>
            <img
              src='/portafolio/projects/geeparts.webp'
              alt='Geeparts Colombia'
              width='580'
              height='400'
              loading='lazy'
            />
          </div>
        </a>
      </div>
    </li>
    <li class='project'>
      <div class='info'>
        <div>
          <span class='featured'>Proyecto destacado</span>
          <h3>
            <a
              href='https://main--clinquant-belekoy-d41c33.netlify.app/chicaqhubo'
              rel='noopener noreferrer'
              target='_blank'>Chica Q'hubo Cúcuta</a
            >
          </h3>
          <div class='description'>
            <p>
              Como desarrollador web, he tenido el honor de contribuir a un proyecto muy especial: "Chica Q'Hubo". Esta
              sección del periódico Q'Hubo ofrece a las mujeres de la región una plataforma para destacar su belleza y
              compartir su historia de vida con miles de lectores diarios.
            </p>
          </div>
          <ul class='project_tech_list'>
            <li>NextJS</li>
            <li>MongoDB</li>
            <li>JavaScript</li>
            <li>ReactJS</li>
            <li>Axios</li>
          </ul>
          <div class='project_links'>
            <a
              href='https://github.com/johnsi15/chica-qhubo'
              aria-label='GitHub Link'
              rel='noopener noreferrer'
              target='_blank'
            >
              <svg
                xmlns='http://www.w3.org/2000/svg'
                role='img'
                viewBox='0 0 24 24'
                fill='none'
                stroke='currentColor'
                stroke-width='2'
                stroke-linecap='round'
                stroke-linejoin='round'
                class='feather feather-github'
                ><title>GitHub</title><path
                  d='M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22'
                ></path></svg
              >
            </a>
            <a
              href='https://main--clinquant-belekoy-d41c33.netlify.app/chicaqhubo'
              aria-label='External Link'
              class='external'
              rel='noopener noreferrer'
              target='_blank'
            >
              <svg
                xmlns='http://www.w3.org/2000/svg'
                role='img'
                viewBox='0 0 24 24'
                fill='none'
                stroke='currentColor'
                stroke-width='2'
                stroke-linecap='round'
                stroke-linejoin='round'
                class='feather feather-external-link'
                ><title>External Link</title><path d='M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6'
                ></path><polyline points='15 3 21 3 21 9'></polyline><line x1='10' y1='14' x2='21' y2='3'></line></svg
              >
            </a>
          </div>
        </div>
      </div>
      <div class='image'>
        <a
          href='https://main--clinquant-belekoy-d41c33.netlify.app/chicaqhubo'
          rel='noopener noreferrer'
          target='_blank'
        >
          <div class='filter'>
            <img
              src='/portafolio/projects/chica-qhubo.webp'
              alt='Chica Qhubo Cúcuta'
              width='580'
              height='400'
              loading='lazy'
            />
          </div>
        </a>
      </div>
    </li>
  </ul>
</section>

<style>
  .projects {
    margin: 100px 0;
  }

  h6 {
    font-size: var(--font-size-large);
    color: var(--color-white);
    line-height: 2.3rem;
    margin: 0;
    text-wrap: balance;
    margin-bottom: 40px;
    text-align: center;
  }

  .project_list {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  .project {
    display: grid;
    /* grid-template-columns: 1fr 600px; */
    grid-template-columns: repeat(12, 1fr);
    gap: 10px;
    align-items: center;
    -webkit-box-align: center;
    position: relative;
    margin-bottom: 100px;
  }
  .info {
    position: relative;
    grid-area: 1 / 1 / -1 / 7;
  }
  .image {
    grid-area: 1 / 6 / -1 / -1;
    position: relative;
    height: 100%;
    min-height: 400px;
    z-index: 1;
  }

  .image a {
    width: 100%;
    height: 100%;
    vertical-align: middle;
    background-color: var(--color-blue-600);
    border-radius: 4px;
    display: flex;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  .image a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0px;
    z-index: 3;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    background-color: var(--dark-color);
    mix-blend-mode: screen;
  }
  .image a:hover {
    background: transparent;
    outline: 0px;
  }
  .image a:hover::before {
    background: transparent;
    filter: none;
  }
  .filter {
    width: 100%;
    border-radius: 4px;
    mix-blend-mode: multiply;
    filter: grayscale(100%) contrast(1) brightness(90%);
    position: relative;
  }
  .image a:hover .filter {
    background: transparent;
    filter: none;
  }
  .filter img {
    bottom: 0;
    height: 100%;
    left: 0;
    margin: 0;
    max-width: none;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    object-fit: cover;
    border-radius: 4px;
  }
  .project:nth-of-type(2n + 1) .info {
    grid-column: 7 / -1;
    text-align: right;
  }
  .project:nth-of-type(2n + 1) .image {
    grid-column: 1 / 8;
  }
  .featured {
    display: block;
    color: var(--color-blue-500);
    font-size: var(--font-size-small);
    margin: 10px 0;
  }
  h3 {
    margin: 0;
    font-size: var(--font-size-medium);
    opacity: 0.7;
    margin: 0 0 20px;
    text-wrap: balance;
    line-height: 1.1;
  }

  h3 a {
    color: var(--color-white);
    text-decoration: none;
    transition: all 0.3s;
  }
  h3 a:hover {
    color: var(--color-blue-500);
  }
  .description {
    font-size: var(--font-size-normal);
    line-height: 1.3rem;
    color: var(--color-white);
    opacity: 0.7;
    background-color: var(--color-blue-900);
    padding: 25px 30px;
    box-shadow: 0 10px 30px -15px rgb(4 126 255 / 50%);
    border-radius: 4px;
    position: relative;
    z-index: 2;
  }
  .description p {
    margin: 0 0 15px;
  }
  .description p:last-child {
    margin: 0;
  }
  .project_tech_list {
    padding: 0;
    list-style: none;
    display: flex;
    gap: 20px;
    color: var(--color-white);
    font-size: var(--font-size-small);
    margin: 25px 0 10px;
    opacity: 0.7;
  }
  .project_links {
    display: flex;
    gap: 20px;
  }
  .project:nth-of-type(2n + 1) .project_tech_list,
  .project:nth-of-type(2n + 1) .project_links {
    justify-content: end;
  }
  .project_links a {
    text-decoration: none;
    color: var(--color-white);
    opacity: 0.7;
  }
  svg {
    height: 20px;
    width: 20px;
  }
  svg.feather {
    fill: none;
  }
</style>
