<section class='skills'>
  <h6>Tecnologías y Herramientas</h6>
  <ul>
    <li class='skill'>
      <span>HTML</span>
    </li>
    <li class='skill'>
      <span>CSS</span>
    </li>
    <li class='skill'>
      <span>Docker</span>
    </li>
    <li class='skill'>
      <span>TypeScript</span>
    </li>
    <li class='skill'>
      <span>NodeJS</span>
    </li>
    <li class='skill'>
      <span>ES6</span>
    </li>
    <li class='skill'>
      <span>React</span>
    </li>
    <li class='skill'>
      <span>Google Firebase</span>
    </li>
    <li class='skill'>
      <span>Sass</span>
    </li>
    <li class='skill'>
      <span>JavaScript</span>
    </li>
    <li class='skill'>
      <span>MongoDB</span>
    </li>
    <li class='skill'>
      <span>NextJS</span>
    </li>
    <li class='skill'>
      <span>APIS</span>
    </li>
    <li class='skill'>
      <span>NPM</span>
    </li>
    <li class='skill'>
      <span>Yarn</span>
    </li>
    <li class='skill'>
      <span>Git</span>
    </li>
    <li class='skill'>
      <span>JOI</span>
    </li>
    <li class='skill'>
      <span>HAPI/BOOM</span>
    </li>
    <li class='skill'>
      <span>Astro</span>
    </li>
    <li class='skill'>
      <span>ESLint</span>
    </li>
    <li class='skill'>
      <span>Express</span>
    </li>
    <li class='skill'>
      <span>JWT</span>
    </li>
    <li class='skill'>
      <span>Passport</span>
    </li>
    <li class='skill'>
      <span>Vite</span>
    </li>
  </ul>
</section>

<style>
  .skills {
    margin: 100px 0;
  }
  h6 {
    font-size: var(--font-size-large);
    color: var(--color-white);
    line-height: 2.3rem;
    margin: 0;
    text-wrap: balance;
    margin-bottom: 40px;
    text-align: center;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: flex;
    max-width: 600px;
    justify-content: center;
    gap: 18px 20px;
    flex-flow: wrap;
  }

  .skill {
    padding: 8px 30px;
    border-radius: 5px;
    background: transparent;
    border: 1px solid var(--color-blue-500);
    color: var(--color-blue-500);
    font-size: var(--font-size-medium-small);
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  .skill:hover {
    color: var(--color-blue);
    background-color: var(--color-blue-500);
    transform: translate(-5px, -5px);
  }
  @media screen and (max-width: 768px) {
    .skills {
      margin: 55px auto;
    }
  }
</style>
