---
import '@splidejs/splide/css'
import '@splidejs/splide/css/core'
import ItemTestimonial from './item-testimonial.astro'
---

<section id='splide-testimonials' class='testimonials splide'>
  <h6 id='carousel-heading'>¿Qué Dicen Las Personas Sobre Mí?</h6>
  <div class='splide__track'>
    <ul class='splide__list'>
      <ItemTestimonial urlPhoto='/portafolio/testimonials/1643735328431.jpg' name='Jhonatan Miranda'>
        Apasionado, inteligente, resolutivo y ¡cree en lo que hace!. John Andrey trabajó en mi equipo durante los
        últimos cuatro años. Su rol fue clave para el equipo ya que aportó toda su experiencia y conocimientos con mucha
        generosidad. Se consiguieron logros importantes gracias a su buen desempeño y disfrutamos del trabajo. Si algun@
        tiene la oportunidad de tenerlo en su equipo como técnico o desarrollador web, no los va a defraudar.
      </ItemTestimonial>

      <ItemTestimonial urlPhoto='/portafolio/testimonials/1516954429725.jpg' name='Leonardo Restrepo'>
        John es un Excelente desarrollador, Muy organizado, táctico y proactivo, su código es ordenado y siempre esta
        atento a los detalles, sin duda es una persona que siempre vendrá bien al equipo!
      </ItemTestimonial>

      <ItemTestimonial urlPhoto='/portafolio/testimonials/1628608329531.jpg' name='Camilo Galvis'>
        Excelente persona, muy entregado a su profesión, y con disposición continúa de estar aprendiendo y mejorando.
      </ItemTestimonial>

      <ItemTestimonial urlPhoto='/portafolio/testimonials/1692720724464.jpg' name='Gabriel Moncada Figueroa'>
        Excelente profesional, atento al detalle, en búsqueda de mejorar los procesos, con autoaprendizaje y puntualidad
        en todas sus tareas.
      </ItemTestimonial>
    </ul>
  </div>
</section>

<script>
  import Splide from '@splidejs/splide'
  const splideTestimonials = new Splide('#splide-testimonials', {
    type: 'loop',
    arrows: false,
    autoplay: true,
    interval: 4000,
    pagination: false,
    gap: '2rem',
    padding: '2rem',
  })

  splideTestimonials.mount()
</script>

<style>
  .testimonials {
    margin: 100px 0;
  }

  h6 {
    font-size: var(--font-size-large);
    color: var(--color-white);
    line-height: 2.3rem;
    margin: 0;
    text-wrap: balance;
    margin-bottom: 40px;
    text-align: center;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
</style>
