<section class='testimonials'>
  <h6>¿Qué dicen las personas sobre mí?</h6>
  <ul>
    <li>
      <div class='photo'>
        <img src='/' alt='foto name' />
      </div>
      <div class='description'>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint, nihil blanditiis? Quo inventore consectetur
          optio minus sit corrupti sapiente, quidem, veritatis quod nostrum libero reiciendis tempore nam repellendus,
          similique ea!
        </p>
        <span>John Serrano</span>
      </div>
    </li>
  </ul>
</section>

<style>
  .testimonials {
    margin: 100px 0;
  }

  h6 {
    font-size: var(--font-size-large);
    color: var(--color-white);
    line-height: 2.3rem;
    margin: 0;
    text-wrap: balance;
    margin-bottom: 40px;
    text-align: center;
  }
</style>
