---
import { CollectionEntry, getCollection } from 'astro:content';
import BlogPost from '../../layouts/BlogPost.astro';

import PostHeader from '../../components/PostHeader';

export async function getStaticPaths() {
	const posts = await getCollection('blog');

	return posts.map((post) => ({
		params: { slug: post.slug },
		props: post
	}));
}
type Props = CollectionEntry<'blog'>;

const post = Astro.props;
// const { slug } = Astro.params;
const { Content } = await post.render();
---

<BlogPost {...post.data}>
	<!-- <h3>Hola mundo</h3>
	<h1>{post.data.title}</h1> -->
	<section id='Post' class='container'>
		<Content />
	</section>
</BlogPost>

<style>
	#Post .disqus {
		max-width: 700px;
		margin: 0 auto;
	}
	#Post {
		margin-top: 30px;
	}
	#Post .more__posts {
		font-size: 2rem;
		font-weight: 700;
		margin: 70px auto 50px;
		line-height: 2.5rem;
		max-width: 700px;
	}
</style>
