---
import Layout from '../../layouts/index.astro'
import { getCollection } from 'astro:content';
import PostsFeature from '../../components/PostsFeature'
import PostsPagination from '../../components/PostsPagination'

const posts = (await getCollection('blog')).sort(
	(a, b) => a.data.publishedDate.valueOf() - b.data.publishedDate.valueOf()
);
const total = posts.length
const limit = 2
const pages = Math.ceil(total / limit)
const meta = {
	pagination: {
		limit: 2,
		page: 1,
		pages,
		total
	}
}
// console.log({ meta })
// console.log({ posts: posts[0].data });
const isProduction = import.meta.env.PROD
---

<Layout>
	<section id='Blog' class='container'>
		<PostsFeature {...posts[1]} />
		<!-- <Pauta /> -->
		<PostsPagination
			client:visible
			posts={posts}
			meta={meta}
			isProduction={isProduction}
		/>
	</section>
</Layout>
