.Newsletter {
  background-color: #000814;
  padding: 30px 20px;
  border-radius: 5px;
  width: 500px;
}

.message {
  font-size: 1.3rem;
  line-height: 1.6rem;
  text-align: center;
  margin: 15px 0 0;
  color: #ffffff;
}

.Newsletter h3 {
  text-align: center;
  font-size: 1.5rem;
  line-height: 1.9rem;
  color: #007cff;
  margin: 0;
  font-weight: 700;
}

.Newsletter span {
  color: #007cff;
  text-align: center;
  font-size: 1.5rem;
  line-height: 1.9rem;
  font-weight: 700;
  margin: 0 auto;
  display: block;
}

.newsletter {
  margin: 20px 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  position: relative;
}

.newsletter input {
  border-radius: 4px;
  border: 1px solid #007cff;
  outline: none;
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 1rem;
  height: 40px;
  transition: 0.2s;
  background-color: #ffffff;
  width: 220px;
}

.newsletter input:focus {
  border-color: #004095;
}

.newsletter button {
  margin: 20px auto 0;
  height: 40px;
  width: 150px;
  border: none;
  color: #ffffff;
  border-radius: 4px;
  cursor: pointer;
  background: #004095;
  font-size: 1.2rem;
  transition: all 0.2s ease;
}

.newsletter button:active {
  transform: scale(1.1);
}

.newsletter button:hover {
  opacity: 0.8;
}

.messageRequest {
  position: absolute;
  bottom: -22px;
  left: 0;
  right: 0;
  font-size: 13px;
  text-align: center;
  color: #ffffff;
}

@media screen and (max-width: 768px) {
  .Newsletter {
    margin: 20px auto 30px;
    width: 85%;
  }

  .newsletter input {
    margin-bottom: 20px;
  }
}
