.content {
  padding: 10px 5px;
  border-top: none;
}

.post {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 500px;
}

.post__header img {
  height: 200px;
  object-fit: cover;
  border: 0.5px solid #d6d6d6;
  box-sizing: border-box;
  width: 100%;
}

.post__header>a {
  display: flex;
}

.post h2 {
  font-size: 1.5rem;
  line-height: 1.8rem;
  margin: 0 0 15px;
}

.excerpt {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 1.2rem;
  line-height: 1.5rem;
  margin: 0;
}

.title {
  text-decoration: none;
  color: #1c1c1c;
  display: flex;
  transition: all .2s;
}

.title:hover {
  opacity: 0.9;
  color: #007cff;
}

.profile {
  position: relative;
}

.profile:hover .profile__name {
  display: block;
  opacity: 1;
}

.profile__name {
  position: absolute;
  bottom: -20px;
  left: -32px;
  text-align: center;
  width: 100px;
  opacity: 0;
  transition: .2s;
}

.profile_avatar {
  height: 35px;
  border: 2px solid #ffffff;
  border-radius: 100%;
  display: block;
  width: 35px;
}

.profile__image {
  border-radius: 100%;
  object-fit: cover;
  display: block;
  width: 100%;
  height: 100%;
  background: #e3e9ed;
}

.post__meta {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px 0;
}

.post__meta span {
  font-weight: 700;
}

.post__meta>a {
  position: relative;
  font-weight: 700;
  color: #004bb4;
  text-decoration: none;
}

.post__meta>a:hover {
  color: #1c1c1c;
}

.post__meta>a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #004bb4;
  visibility: visible;
  transform: scaleX(1);
  transition: all 0.3s ease-in-out 0s;
}

.post__meta>a:hover:before {
  visibility: hidden;
  transform: scaleX(0);
}

@media screen and (max-width: 768px) {
  .post {
    min-height: auto;
  }

  .post__meta {
    justify-content: flex-start;
    gap: 20px;
    margin-top: 10px;
  }

  .post__header img {
    display: none;
  }
}