/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

:root {
  --width: 1000px;
  --font-scael: 1em;
  --background-color: #fff;
  --heading-color: #1c1c1c;
  --text-color: #444;
  --link-color: #3273dc;
  --visited-color: #8b6fcb;
  --code-background-color: #f2f2f2;
  --code-color: #222;
  --blockquote-color: #222;
  --progress-bar-color: #ef1424;
}

.meses .splide:not(.is-overflow) .splide__pagination {
  display: flex;
}

html {
  box-sizing: border-box;
  width: 100%;
  scroll-behavior: smooth;
}

body {
  font-weight: 400;
  color: var(--heading-color);
  margin: 0;
  overflow-x: hidden;
}

.container {
  margin: 0 auto;
  max-width: var(--width);
  flex: 1;
  width: 100%;
}

#Layout {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
}

.text img,
.text figure img,
.text .instagram-media,
.text iframe,
.text figure {
  max-width: 900px;
  margin: 0;
  object-fit: contain;
}

@media screen and (max-width: 768px) {
  .container {
    width: 96%;
  }

  #Home,
  #Sobre-mi,
  #Blog {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    flex-direction: column;
    align-items: flex-start;
  }

  body.blur_custom {
    overflow: hidden;
  }

  body.blur_custom main>*,
  body.blur_custom .header__menu #Search_content,
  body.blur_custom #Blog>*,
  body.blur_custom #Posts>*,
  body.blur_custom #Sobre-mi {
    filter: blur(5px) brightness(0.7);
    transition: var(--transition);
    pointer-events: none;
    user-select: none;
  }
}