.content {
  padding: 10px 5px;
  border-top: none;
}

.featureImage {
  height: 200px;
  object-fit: cover;
  aspect-ratio: 1.73;
  width: 100%;
}

.title {
  font-size: 1.5rem;
  line-height: 1.8rem;
  margin: 0 0 15px;
}

.excerpt {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 1.2rem;
  line-height: 1.5rem;
  margin: 0;
}

.post a {
  display: flex;
}

.title>a {
  text-decoration: none;
  color: #1c1c1c;
  transition: all .2s;
}

.title>a:hover {
  opacity: 0.9;
  color: #007cff;
}