.content {
  padding: 10px 5px;
  border-top: none;
}

.feature_image {
  height: 200px;
  object-fit: cover;
  width: 100%;
}

h2 {
  font-size: 1.7rem;
  line-height: 2rem;
  margin: 0 0 15px;
  transition: .2s;
}

.excerpt {
  font-size: 1.2rem;
  line-height: 1.7rem;
  margin: 0;
}

h2 > a {
  text-decoration: none;
  color: #1c1c1c;
  display: flex;
}

h2 > a:hover {
  opacity: 0.9;
  color: #0078ae;
}