.content {
  padding: 10px 5px;
  border-top: none;
}

.featureImage {
  height: 200px;
  object-fit: cover;
  aspect-ratio: 1.73;
  width: 100%;
}

.title {
  font-size: 1.7rem;
  line-height: 2rem;
  margin: 0 0 15px;
  transition: .2s;
}

.excerpt {
  font-size: 1.2rem;
  line-height: 1.7rem;
  margin: 0;
}

.post a {
  display: flex;
}

.title > a {
  text-decoration: none;
  color: #1c1c1c;
}

.title > a:hover {
  opacity: 0.9;
  color: #0078ae;
}