---
import Layout from '../../layouts/index.astro'
import { getCollection } from 'astro:content'
import PostsGrid from '../../components/PostsGrid'

const posts = (
  await getCollection('blog', ({ data }) => {
    return data.draft !== true
  })
)
  .sort((a, b) => b.data.publishedDate.valueOf() - a.data.publishedDate.valueOf())
  .slice(0, 20)
---

<Layout
  title='Tags'
  description='Encuentra artículos sobre desarrollo web, tutoriales, tecnología y mucho más.'
  url='https://johnserrano.co/tags'
  titleOpenGraph='Tags'
>
  <section id='Tag' class='container'>
    {posts.length > 0 && <PostsGrid posts={posts} columns='3' />}
  </section>
</Layout>

<style>
  #Tag {
    flex: 1;
  }

  @media screen and (max-width: 768px) {
    #Tag {
      margin-top: 100px;
    }
  }
</style>
