---
import Layout from '../../layouts/index.astro'
import { getCollection } from 'astro:content';
import PostsGrid from '../../components/PostsGrid';
// import Cover from '../../components/Cover';
// import PostTitle from '../../components/PostTitle';

const posts = (await getCollection('blog', ({ data }) => {
    return data.isDraft !== true;
  })).sort(
	(a, b) => b.data.publishedDate.valueOf() - a.data.publishedDate.valueOf()
);
// console.log({ posts: posts[0].data });
// const isProduction = import.meta.env.PROD
---

<Layout
  title= 'Tags - John Serrano'
  description= ''
  image= ''
  url= 'https://johnserrano.co/tags'
  titleOpenGraph= 'Tags - John Serrano'
  datePublished= ''
  modified= ''
>
  <!-- <Cover client:load>
    <PostTitle client:load capitalize='capitalize'>JavaScript</PostTitle>
  </Cover> -->
	<section id='Tag' class='container'>
    {posts.length > 0 && <PostsGrid posts={posts} columns='3' />}
  </section>
</Layout>

<style>
  #Tag {
    /* margin-top: 30px; */
    flex: 1;
  }
</style>
