<main class='container max-w-3xl mx-auto py-24'>
  <figure class='w-36 h-36 bg-slate-900 rounded-full overflow-hidden mx-auto mb-4'>
    <img
      src='/portafolio/profile/john-serrano.png'
      alt='John Serrano'
      class='rounded-full w-36 h-36 object-contain scale-110 relative top-3'
    />
  </figure>
  <h1 class='text-3xl text-center font-bold text-slate-800'>John Serrano</h1>
  <span class='text-lg text-center block'>@johnserranodev</span>

  <ul class='flex gap-5 items-center justify-center my-5'>
    <li>
      <a
        href='https://www.youtube.com/@johnserranodev'
        target='_blank'
        rel='noreferrer'
        class='flex items-center px-2 py-1'
        aria-label='YouTube'
      >
        <svg width='56' height='56' viewBox='0 0 192 192' fill='none'
          ><g id='SVGRepo_bgCarrier' stroke-width='0'></g><g
            id='SVGRepo_tracerCarrier'
            stroke-linecap='round'
            stroke-linejoin='round'></g><g id='SVGRepo_iconCarrier'
            ><path
              stroke='currentColor'
              stroke-width='10'
              d='M170 96c0-45-4.962-49.999-50-50H72c-45.038.001-50 5-50 50s4.962 49.999 50 50h48c45.038-.001 50-5 50-50Z'
            ></path><path stroke='currentColor' stroke-linejoin='round' stroke-width='12' d='M118 96 82 74v44l36-22Z'
            ></path></g
          ></svg
        >
      </a>
    </li>
    <li>
      <a href='https://www.instagram.com/johnserranodev/' target='_blank' rel='noopener noreferrer'> Instagram </a>
    </li>
    <li>
      <a href='https://www.linkedin.com/in/johnserranodev/' target='_blank' rel='noopener noreferrer'> LinkedIn </a>
    </li>
    <li>
      <a href='mailto:me@johnserrano.co' target='_blank' rel='noopener noreferrer'> Email </a>
    </li>
    <li>
      <a href='https://wa.me/573208893833' target='_blank' rel='noopener noreferrer'> WhatSapp </a>
    </li>
    <li>
      <a href='https://www.tiktok.com/@johnserranodev/' target='_blank' rel='noopener noreferrer'> TikTok </a>
    </li>
  </ul>
</main>
