---
import Layout from '../layouts/generic.astro'
---

<Layout
  title='Desarrollador web - John Serrano | Enlaces'
  description='Enlaces de contacto y redes sociales de John Serrano'
>
  <main class='container max-w-3xl mx-auto py-24'>
    <figure class='w-36 h-36 bg-slate-900 rounded-full overflow-hidden mx-auto mb-4'>
      <img
        src='/portafolio/profile/john-serrano.png'
        alt='John Serrano'
        class='rounded-full w-36 h-36 object-contain scale-110 relative top-3'
      />
    </figure>
    <h1 class='text-3xl text-center font-bold text-slate-800'>John Serrano</h1>
    <span class='text-lg text-center block'>@johnserranodev</span>

    <section>
      <ul class='flex gap-3 items-center justify-center my-5'>
        <li
          class='md:w-14 md:h-14 w-12 h-12 text-white rounded-full bg-slate-900 flex items-center justify-center hover:scale-95 transition-all duration-300 hover:shadow-xl'
        >
          <a href='https://www.youtube.com/@johnserranodev' target='_blank' rel='noreferrer' aria-label='YouTube'>
            <svg width='42' height='42' viewBox='0 0 192 192' fill='none'
              ><g id='SVGRepo_bgCarrier' stroke-width='0'></g><g
                id='SVGRepo_tracerCarrier'
                stroke-linecap='round'
                stroke-linejoin='round'></g><g id='SVGRepo_iconCarrier'
                ><path
                  stroke='currentColor'
                  stroke-width='10'
                  d='M170 96c0-45-4.962-49.999-50-50H72c-45.038.001-50 5-50 50s4.962 49.999 50 50h48c45.038-.001 50-5 50-50Z'
                ></path><path
                  stroke='currentColor'
                  stroke-linejoin='round'
                  stroke-width='12'
                  d='M118 96 82 74v44l36-22Z'></path></g
              ></svg
            >
          </a>
        </li>
        <li
          class='md:w-14 md:h-14 w-12 h-12 text-white rounded-full bg-slate-900 flex items-center justify-center hover:scale-95 transition-all duration-300 hover:shadow-xl'
        >
          <a href='https://www.instagram.com/johnserranodev/' target='_blank' rel='noreferrer' aria-label='Instagram'>
            <svg width='36' height='36' enable-background='new 0 0 512 512' fill='currentColor' viewBox='0 0 512 512'
              ><g
                ><path
                  d='M505,257c0,34.8-0.7,69.7,0.2,104.5c1.5,61.6-37.2,109.2-86.5,130.4c-19.8,8.5-40.6,13-62.1,13c-67.3,0.1-134.7,1-202-0.3   c-50.7-1-92.4-22.2-122.3-64c-15.7-22-23.2-47-23.2-74.1c0-71.7,0-143.3,0-215c0-58.5,28.5-99.4,79.1-126C110.2,14,134.1,9.1,159,9   c65.3,0,130.7-0.4,196,0.2c50.7,0.4,93,19.8,124.2,60.6c17.4,22.8,25.8,49,25.8,77.8C505,184,505,220.5,505,257z M46,257   c0,36.7,0,73.3,0,110c0,16.4,3.8,31.8,12.3,45.7c22.3,36.5,56,54.3,97.8,55c67.1,1,134.3,0.4,201.5,0.2c16.5,0,32.5-3.4,47.4-10.5   c40.6-19.4,63.3-50.3,63.1-96.7c-0.4-71-0.1-142-0.1-213c0-20.1-5.7-38.5-17.6-54.7c-23-31.1-54.8-46.4-92.8-46.8   c-67-0.8-134-0.3-201-0.2c-14.3,0-28.1,2.9-41.5,7.9c-36.8,13.7-71,48.4-69.4,99.5C46.9,188,46,222.5,46,257z'
                ></path><path
                  d='M257.6,363c-64.5,0-116.5-51.4-116.6-115.4c-0.1-63,52.3-114.6,116.4-114.6c64.3-0.1,116.5,51.4,116.6,114.9   C374,311.3,321.9,362.9,257.6,363z M257.6,326c43.9,0,79.5-35.1,79.4-78.3c-0.1-42.8-35.7-77.8-79.4-77.8   c-43.9,0-79.7,34.9-79.7,78C178,291.1,213.7,326.1,257.6,326z'
                ></path><path
                  d='M387.5,98c13.5,0,24.5,11.5,24.5,25.6c-0.1,14.1-11.2,25.5-24.7,25.4c-13.3-0.1-24.2-11.5-24.2-25.3   C363,109.6,374,98,387.5,98z'
                ></path></g
              ></svg
            >
          </a>
        </li>
        <li
          class='md:w-14 md:h-14 w-12 h-12 text-white rounded-full bg-slate-900 flex items-center justify-center hover:scale-95 transition-all duration-300 hover:shadow-xl'
        >
          <a href='https://www.linkedin.com/in/johnserranodev/' target='_blank' rel='noreferrer' aria-label='LinkedIn'>
            <svg
              width='44'
              height='44'
              viewBox='0 0 24 24'
              fill='none'
              stroke='currentColor'
              stroke-width='1.5'
              stroke-linecap='round'
              stroke-linejoin='round'
              class='icon icon-tabler icons-tabler-outline icon-tabler-brand-linkedin'
              ><path stroke='none' d='M0 0h24v24H0z' fill='none'></path><path d='M8 11v5'></path><path d='M8 8v.01'
              ></path><path d='M12 16v-5'></path><path d='M16 16v-3a2 2 0 1 0 -4 0'></path><path
                d='M3 7a4 4 0 0 1 4 -4h10a4 4 0 0 1 4 4v10a4 4 0 0 1 -4 4h-10a4 4 0 0 1 -4 -4z'></path></svg
            >
          </a>
        </li>
        <li
          class='md:w-14 md:h-14 w-12 h-12 text-white rounded-full bg-slate-900 flex items-center justify-center hover:scale-95 transition-all duration-300 hover:shadow-xl'
        >
          <a href='mailto:me@johnserrano.co' target='_blank' rel='noreferrer' aria-label='Email'>
            <svg
              width='46'
              height='46'
              viewBox='0 0 24 24'
              fill='none'
              stroke='currentColor'
              stroke-width='1.25'
              stroke-linecap='round'
              stroke-linejoin='round'
              class='icon icon-tabler icons-tabler-outline icon-tabler-mail'
              ><path stroke='none' d='M0 0h24v24H0z' fill='none'></path><path
                d='M3 7a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10z'></path><path
                d='M3 7l9 6l9 -6'></path></svg
            >
          </a>
        </li>
        <li
          class='md:w-14 md:h-14 w-12 h-12 text-white rounded-full bg-slate-900 flex items-center justify-center hover:scale-95 transition-all duration-300 hover:shadow-xl'
        >
          <a href='https://wa.me/573208893833' target='_blank' rel='noreferrer' aria-label='WhatsApp'>
            <svg
              width='40'
              height='40'
              viewBox='0 0 24 24'
              fill='none'
              stroke='currentColor'
              stroke-width='1.5'
              stroke-linecap='round'
              stroke-linejoin='round'
              class='icon icon-tabler icons-tabler-outline icon-tabler-brand-whatsapp'
              ><path stroke='none' d='M0 0h24v24H0z' fill='none'></path><path
                d='M3 21l1.65 -3.8a9 9 0 1 1 3.4 2.9l-5.05 .9'></path><path
                d='M9 10a.5 .5 0 0 0 1 0v-1a.5 .5 0 0 0 -1 0v1a5 5 0 0 0 5 5h1a.5 .5 0 0 0 0 -1h-1a.5 .5 0 0 0 0 1'
              ></path></svg
            >
          </a>
        </li>
        <li
          class='md:w-14 md:h-14 w-12 h-12 text-white rounded-full bg-slate-900 flex items-center justify-center hover:scale-95 transition-all duration-300 hover:shadow-xl'
        >
          <a href='https://www.tiktok.com/@johnserranodev/' target='_blank' rel='noreferrer' aria-label='TikTok'>
            <svg
              width='40'
              height='40'
              viewBox='0 0 24 24'
              fill='none'
              stroke='currentColor'
              stroke-width='1.5'
              stroke-linecap='round'
              stroke-linejoin='round'
              class='icon icon-tabler icons-tabler-outline icon-tabler-brand-tiktok'
              ><path stroke='none' d='M0 0h24v24H0z' fill='none'></path><path
                d='M21 7.917v4.034a9.948 9.948 0 0 1 -5 -1.951v4.5a6.5 6.5 0 1 1 -8 -6.326v4.326a2.5 2.5 0 1 0 4 2v-11.5h4.083a6.005 6.005 0 0 0 4.917 4.917z'
              ></path></svg
            >
          </a>
        </li>
      </ul>
    </section>

    <section class='mt-12 md:mx-0 mx-4'>
      <ul class='flex flex-col gap-6 items-center justify-center'>
        <li
          class='text-center text-slate-800 text-xl bg-white max-w-sm w-full rounded-lg shadow-lg hover:bg-slate-900 hover:text-white transition-all'
        >
          <a href='/newsletter' class='flex py-4 justify-center items-center'>Suscríbete a mi newsletter 🔥</a>
        </li>
        <li
          class='text-center text-slate-800 text-xl bg-white max-w-sm w-full rounded-lg shadow-lg hover:bg-slate-900 hover:text-white transition-all'
        >
          <a href='/blog' class='flex py-4 justify-center items-center'>Lee mis últimos artículos</a>
        </li>
        <li
          class='text-center text-slate-800 text-xl bg-white max-w-sm w-full rounded-lg shadow-lg hover:bg-slate-900 hover:text-white transition-all'
        >
          <a
            data-gtm-event='ebook_click'
            data-category='CTA'
            data-action='click'
            data-label='Comprar Ebook'
            href='/ebook'
            class='flex py-4 justify-center items-center'>Llévate mi Ebook ahora</a
          >
        </li>
        <li
          class='text-center text-slate-800 text-xl bg-white max-w-sm w-full rounded-lg shadow-lg hover:bg-slate-900 hover:text-white transition-all'
        >
          <a href='/servicios' class='flex py-4 justify-center items-center'>Ver mis servicios</a>
        </li>
        <li
          class='text-center text-slate-800 text-xl bg-white max-w-sm w-full rounded-lg shadow-lg hover:bg-slate-900 hover:text-white transition-all'
        >
          <a
            href='https://calendly.com/johnserranodev/30min'
            class='flex py-4 justify-center items-center'
            target='_blank'>Reserva una asesoría 1:1</a
          >
        </li>
        <li
          class='text-center text-slate-800 text-xl bg-white max-w-sm w-full rounded-lg shadow-lg hover:bg-slate-900 hover:text-white transition-all'
        >
          <a href='/portafolio' class='flex py-4 justify-center items-center'>Portafolio</a>
        </li>
        <li
          class='text-center text-slate-800 text-xl bg-white max-w-sm w-full rounded-lg shadow-lg hover:bg-slate-900 hover:text-white transition-all'
        >
          <a href='https://github.com/johnsi15' class='flex py-4 justify-center items-center' target='_blank'
            >Mis repos en GitHub</a
          >
        </li>
      </ul>
    </section>

    <section class='mt-12 max-w-xl md:mx-auto mx-2'>
      <h2 class='text-4xl text-center mb-4'>Último video en YouTube</h2>
      <lite-youtube
        class='rounded-md shadow-2xl shadow-white/10'
        videoid='2cfSTWHb0iY'
        videotitle='Aprende Lógica de programación desde CERO'></lite-youtube>
    </section>
  </main>
</Layout>

<style>
  body {
    background-color: #f1efec;
  }
</style>

<script>
  import '@justinribeiro/lite-youtube'
</script>
