<main>
  <h1>John Serrano</h1>
  <span>@johnserranodev</span>

  <ul>
    <li>
      <a href='https://www.youtube.com/@johnserranodev' target='_blank' rel='noopener noreferrer'> Youtube </a>
    </li>
    <li>
      <a href='https://www.instagram.com/johnserranodev/' target='_blank' rel='noopener noreferrer'> Instagram </a>
    </li>
    <li>
      <a href='https://www.linkedin.com/in/johnserranodev/' target='_blank' rel='noopener noreferrer'> LinkedIn </a>
    </li>
    <li>
      <a href='mailto:me@johnserrano.co' target='_blank' rel='noopener noreferrer'> Email </a>
    </li>
    <li>
      <a href='https://wa.me/573208893833' target='_blank' rel='noopener noreferrer'> WhatSapp </a>
    </li>
    <li>
      <a href='https://www.tiktok.com/@johnserranodev/' target='_blank' rel='noopener noreferrer'> TikTok </a>
    </li>
  </ul>
</main>
