---
import PostCard from '../components/PostCard.astro'
import Layout from '../layouts/index.astro'
---

<Layout>
  <main id='Home' class='container'>
    <div class='main'>
      <h1 style='display: none;'>Desarrollador web - John Serrano</h1>
      <h2>¿Quién soy?</h2>
      <p>
        Soy un <strong>ingeniero de software</strong> con más de 7 años de experiencia. Me especializo en la creación de
        experiencias digitales de alto impacto. Entusiasta de las tecnologías web: JavaScript, TypeScript, Node.js, Docker,
        Firebase, React, etc.. Comparto mis conocimientos a través de mi
        <a href='/blog'>blog</a>. Puedes leer más <a href='/sobre-mi'>sobre mí</a>.
      </p>

      <h2>De qué hablo en mi blog</h2>
      <p>
        <a href='/tags/desarrollo-web'> Desarrollo web</a>, Tutoriales, artículos sobre tecnologías: JavaScript,
        TypeScript, Node.js, Docker, React, python, CSS, etc.
      </p>

      <!-- <Pauta /> -->

      <h2>📒 Ebooks publicados</h2>
      <p>
        <a href='https://pay.hotmart.com/O67718482D' target='_blank' rel='noreferrer'>
          Fundamentos de programación con JavaScript</a
        >
      </p>

      <h2>Últimos artículos publicados</h2>
      <!-- {posts.length > 0 && <Posts posts={posts} columns='2' />} -->
      <PostCard columns={2} />

      <h2>Contacto</h2>
      <p class='contact'>
        Puedes ponerte en contacto conmigo públicamente por las redes sociales Mencíoname en Twitter <a
          href='https://twitter.com/Jandrey15'
          rel='noreferrer'
          target='_blank'>(soy @jandrey15)</a
        >. También puedes contactarme enviándome un correo electrónico a <strong>me@johnserrano.co</strong>. Estoy aquí
        para recibir tus comentarios, sugerencias o ayudarte a resolver cualquier problema que puedas tener.
      </p>

      <h2>Apoyo</h2>
      <div class='apoyar'>
        <p>
          Si te gusta lo que lees y quieres respaldar mi trabajo, puedes realizar una donación a través de PayPal.
          Además, estoy disponible para recibir tu apoyo por correo electrónico en <strong>me@johnserrano.co</strong> si
          prefieres otras opciones. Tu apoyo ayuda a mantener este proyecto en marcha. ¡Gracias por tu apoyo!
        </p>
        <a
          class='linkDonacion'
          href='https://link.mercadopago.com.co/johnserrano'
          aria-label='Donar aquí Mercado Pago'
          target='_blank'
          rel='noopener noreferrer'>Donar aquí</a
        >
        <p class='cripto'>
          Puedes donar criptomonedas con: <br />
          <strong>TRX Tron red TRC20:</strong>
          <br />
          TR3nVEsRexQkdXasRLAXLW2n7DmyS7ksrq <br />
          <strong>BTC Bitcoin red BTC:</strong>
          <br />
          1Bd849Xr3T3i9nn96uF2JuYhp98wZyod6Q <br />
          <strong>BNB Smart Chain BSC:</strong>
          <br />
          0xe8ac8dc8e56208d4dad5f719ba627436187acc16
        </p>
        <q class='citaBible'
          >Jesús le dijo: Yo soy el camino, y la verdad, y la vida; nadie viene al Padre, sino por mí. Juan 14:6</q
        >
      </div>
    </div>
  </main>
</Layout>

<style>
  .main {
    margin: 50px auto 0 auto;
    max-width: 700px;
  }

  .cripto {
    font-size: 1rem;
  }

  .apoyar {
    max-width: 700px;
    margin: 0 auto 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .apoyar p {
    text-align: center;
    border: none;
  }

  .pauta {
    margin: 20px 0;
  }

  .citaBible {
    font-style: italic;
    font-weight: bold;
  }

  h2 {
    font-size: 2rem;
    font-weight: 700;
    margin: 50px 0 0;
  }

  p {
    font-size: 1.25rem;
    line-height: 1.4;
    font-weight: 400;
    margin: 20px 0 0;
    border-bottom: 2px solid #eeeeee;
    padding-bottom: 30px;
    position: relative;
  }

  .boder_background::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 5px;
    background: linear-gradient(to bottom, rgba(0, 17, 34, 0.3), rgb(0 124 255 / 0%));
  }

  p strong {
    font-weight: 700;
  }

  p > a {
    position: relative;
    font-weight: 700;
    color: #004bb4;
    text-decoration: none;
  }

  p > a:hover {
    color: #1c1c1c;
  }

  p > a:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #004bb4;
    visibility: visible;
    transform: scaleX(1);
    transition: all 0.3s ease-in-out 0s;
  }

  p > a:hover:before {
    visibility: hidden;
    transform: scaleX(0);
  }
  .contact {
    margin-bottom: 70px;
  }

  .linkDonacion {
    --color-blue-500: #007cff;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    background-color: #000814;
    border: 1px solid var(--color-blue-500);
    color: #ffffff;
    font-size: 1.3rem;
    transition: all 0.3s;
  }

  .linkDonacion:hover,
  .linkDonacion:active {
    box-shadow: 0 0 10px var(--color-blue-500);
  }

  @media screen and (max-width: 768px) {
    .citaBible {
      text-align: center;
    }
  }
</style>
