---
import SearchPage from "../components/SearchPage";
import Layout from '../layouts/index.astro'
---

<Layout 
  title='word - John Serrano'
  description=''
  image= ''
  url= 'https://johnserrano.co/searc'
  titleOpenGraph='word - John Serrano'
  date= ''
  modified= ''
>
  <section id='SearchPage'>
    <SearchPage client:load />
  </section>
</Layout>

<style>
  #SearchPage {
    flex: 1;
  }
</style>