---
import Layout from '../layouts/index.astro'
---

<Layout
  title='Sobre mí - John Serrano'
  description='¡Hola! Mi nombre es John Andrey Serrano. Nací en Cúcuta - Colombia tengo 26 años actualmente me dedico al Desarrollo web un apasionado y entusiasta de las tecnología web: JavaScript, Node.js, Docker, Firebase, React, etc..'
  image=''
  url='https://johnserrano.co/sobre-mi'
  titleOpenGraph='Sobre mí - John Serrano'
  datePublished=''
  modified=''
>
  <section id='Sobre-mi' class='container'>
    <div class='main'>
      <h2>Sobre mí</h2>
      <p>
        ¡Hola! Soy John Serrano. Comencé mi viaje en el <a href='/tags/desarrollo-web'>Desarrollo web</a> en 2011 y obtuve
        una titulación como Tecnólogo en Análisis y Desarrollo de Sistemas. A partir del 2014 y por 2 años tuve que hacer
        una pausa en mi carrera por razones personales, pero eso no me detuvo en mi búsqueda de conocimiento. Desde el año
        2016, he estado trabajando incansablemente y ampliando mis habilidades. Un apasionado y entusiasta de las tecnología
        web: JavaScript, TypeScript, Node.js, Docker, Firebase, React, etc.. En constante proceso de aprendizaje sobre todas
        las nuevas tecnologías, me gusta estar informado de lo que pasa en la web, ver cursos, leer artículos, ver tutoriales
        y tratar de compartir mis conocimientos a través de mi <a href='/blog'>blog</a>.
      </p>

      <!-- <h2>Mi historia</h2>
      <p>
        Todo comenzó en el año 2011 ingrese a estudiar en el <strong>SENA</strong> una carrera llamada análisis y desarrollo
        de sistemas de la información, desde que inicie fue un poco complicado pues no entendía muy bien de que se trataba
        la programación y la lógica, siempre me pregunte qué era lo que había detrás de un programa de computadora, gracias
        a un buen profesor que supo guiarme y enseñarme desde lo más básico de la programación y entendiendo la lógica que
        se necesita para programar desde <strong>algoritmos, pseudocodigo y lenguaje C</strong>. Uno de mis primeros
        lenguajes de programación fue Java el cual domine con mucho esfuerzo porque su sintaxis es bastante robusta,
        también aprendí un poco de php pero no le di mucha importancia en ese entonces.
      </p>

      <h2>Prácticas</h2>
      <p>
        Las prácticas del SENA las realicé en una empresa de plásticos a finales del 2012, donde comencé aprender un
        poco más de <strong>php</strong> y todo lo que constituía el desarrollo de una página web, era maravilloso para mí
        en ese entonces, era algo nuevo pues la verdad no le di mucha importancia al desarrollo web en el SENA pues me dedique
        mucho más al desarrollo con <strong>Java</strong> para aplicaciones de escritorio, pero fue sorprendente ver y saber
        todos los lenguajes y herramientas que existían para el desarrollo de páginas web y aplicaciones.
      </p> -->

      <h2>Actualmente</h2>
      <p class='actual'>
        En la actualidad, mi enfoque se centra en el desarrollo front-end, donde creo productos y experiencias
        digitales. Mi pasión por la tecnología y el aprendizaje constante me motiva a mantenerme al día con las últimas
        tendencias y herramientas en el campo. Gracias a mi disciplina y al ser autodidacta pude mejorar un monto en el
        desarrollo web también a plataformas como <a
          href='https://platzi.com/r/jandrey/'
          rel='noreferrer'
          target='_blank'>platzi</a
        >, me ayudó a ser mejor profesional a seguir aprendiendo a no desfallecer y sobre todo a nunca parar de
        aprender.
      </p>
      <!-- <p>Aquí hay algunas tecnologías con las que he estado trabajando recientemente:</p> -->
      <p class='actual'>Algunas de las tecnologías con las que he estado trabajando recientemente:</p>
      <ul>
        <li>✅ JavaScript (ES6+)</li>
        <li>✅ React</li>
        <li>✅ Node.js</li>
        <li>✅ TypeScript</li>
        <li>✅ Next.js</li>
        <li>✅ MongoDB</li>
      </ul>
      <p>
        Me puedes encontrar en <a href='https://www.facebook.com/johnserrano15'>Facebook</a>, <a
          href='https://twitter.com/Jandrey15'>Twitter</a
        >, <a href='https://github.com/johnsi15'>GitHub</a> y <a href='https://www.linkedin.com/in/jandreys15'
          >Linkedin</a
        > gracias por leer y saludos.
      </p>

      <q class='citaBible'
        >El que cree en mí, como dice la Escritura, de su interior correrán ríos de agua viva. Juan 7:38</q
      >
    </div>
  </section>
</Layout>

<style>
  .main {
    margin: 70px auto 50px auto;
    max-width: 700px;
  }

  .citaBible {
    font-style: italic;
  }

  h2 {
    font-size: 2rem;
    font-weight: 700;
    margin: 70px 0 0;
  }

  p {
    font-size: 1.25rem;
    line-height: 2rem;
    font-weight: 400;
    margin: 20px 0 35px;
    border-bottom: 2px solid #eeeeee;
    padding-bottom: 30px;
  }

  p strong {
    font-weight: 700;
  }

  p > a {
    position: relative;
    font-weight: 700;
    color: #004bb4;
    text-decoration: none;
  }

  p > a:hover {
    color: #1c1c1c;
  }

  p > a:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #004bb4;
    visibility: visible;
    transform: scaleX(1);
    transition: all 0.3s ease-in-out 0s;
  }

  p > a:hover:before {
    visibility: hidden;
    transform: scaleX(0);
  }

  .actual {
    border: none;
    padding: 0;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    font-size: 1.2rem;
    line-height: 1.5rem;
  }
</style>
