---
import Layout from '../layouts/index.astro'
---

<Layout
  title='Sobre mí - John Serrano | Frontend, JavaScript, TypeScript, React, Node.js'
  description='¡Hola! Soy John Andrey Serrano, ingeniero de software con más de 7 años de experiencia. Me especializo en la creación de experiencias digitales de alto impacto.'
  url='https://johnserrano.co/sobre-mi'
  titleOpenGraph='Sobre mí - John Serrano'
  datePublished=''
  modified=''
>
  <section id='Sobre-mi' class='container'>
    <div class='main'>
      <h1 style='display: none;'>Sobre mí, ¡hola! Soy John Andrey Serrano.</h1>
      <h2>Sobre mí</h2>
      <p class='noborder'>
        ¡Hola! Soy John Andrey Serrano. Comencé mi viaje en el <a href='/tags/desarrollo-web'>Desarrollo web</a> en 2011
        y obtuve una titulación como <strong>Tecnólogo en Análisis y Desarrollo de Sistemas</strong>. A partir del 2014
        y por 2 años tuve que hacer una pausa en mi carrera por razones personales, pero eso no me detuvo en mi búsqueda
        de conocimiento. Desde el año 2016, he estado <strong
          >trabajando incansablemente y ampliando mis habilidades</strong
        >.
      </p>
      <p>
        Un apasionado y entusiasta de las tecnología web: JavaScript, TypeScript, Node.js, Docker, Firebase, React,
        etc.. En constante proceso de aprendizaje sobre todas las <strong>nuevas tecnologías</strong>, me gusta estar
        informado de lo que pasa en la web, ver cursos, leer artículos, ver tutoriales y tratar de compartir mis
        conocimientos a través de mi <a href='/blog'>blog</a>.
      </p>

      <h2>Actualmente</h2>
      <p class='noborder'>
        En la actualidad, soy un <strong>ingeniero de software</strong> con más de 7 años de experiencia. mi enfoque se centra
        en el <strong>desarrollo front-end</strong>, donde creo productos y <strong>experiencias digitales</strong>. Mi
        pasión por la tecnología y el <strong>aprendizaje constante</strong> me motiva a mantenerme al día con las últimas
        tendencias y herramientas en el campo.
      </p>
      <p class='noborder'>
        Gracias a <strong>mi disciplina</strong> y mi enfoque autodidacta, he logrado significativos avances en el desarrollo
        web. La combinación de mi dedicación personal y la utilización de plataformas educativas como <a
          href='https://platzi.com/r/jandrey/'
          rel='noreferrer'
          target='_blank'>Platzi</a
        > me ha permitido
        <strong>crecer como profesional</strong>. Esta experiencia no solo me ha enseñado a mantenerme comprometido y
        perseverar, sino también a <strong>nunca dejar de aprender</strong>. Continuar mi camino de aprendizaje
        constante se ha convertido en un pilar fundamental de mi desarrollo profesional.
      </p>
      <p class='noborder'>Algunas de las tecnologías con las que he estado trabajando recientemente:</p>
      <ul>
        <li>✅ JavaScript (ES6+)</li>
        <li>✅ React</li>
        <li>✅ Node.js</li>
        <li>✅ TypeScript</li>
        <li>✅ Next.js</li>
        <li>✅ MongoDB</li>
      </ul>
      <p>
        Me puedes encontrar en <a href='https://www.facebook.com/johnserranodev' target='_blank' rel='noreferrer'
          >Facebook</a
        >, <a href='https://twitter.com/johnserranodev' target='_blank' rel='noreferrer'>Twitter</a>, <a
          href='https://github.com/johnsi15'
          target='_blank'
          rel='noreferrer'>GitHub</a
        >, <a href='https://www.youtube.com/@johnserranodev' target='_blank' rel='noreferrer'>YouTube</a> y <a
          href='https://www.linkedin.com/in/jandreys15'
          target='_blank'
          rel='noreferrer'>Linkedin</a
        > gracias por leer y saludos.
      </p>

      <q class='citaBible'
        >El que cree en mí, como dice la Escritura, de su interior correrán ríos de agua viva. Juan 7:38</q
      >
    </div>
  </section>
</Layout>

<style>
  .main {
    margin: 30px auto 50px auto;
    max-width: 700px;
  }

  .citaBible {
    font-style: italic;
    font-weight: bold;
  }

  h2 {
    font-size: 2rem;
    font-weight: 700;
    margin: 70px 0 0;
  }

  p {
    font-size: 1.25rem;
    line-height: 1.4;
    font-weight: 400;
    margin: 20px 0 35px;
    border-bottom: 2px solid #eeeeee;
    padding-bottom: 30px;
  }

  p strong {
    font-weight: 700;
  }

  p > a {
    position: relative;
    font-weight: 700;
    color: #004bb4;
    text-decoration: none;
  }

  p > a:hover {
    color: #1c1c1c;
  }

  p > a:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #004bb4;
    visibility: visible;
    transform: scaleX(1);
    transition: all 0.3s ease-in-out 0s;
  }

  p > a:hover:before {
    visibility: hidden;
    transform: scaleX(0);
  }

  .noborder {
    border: none;
    padding: 0;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    font-size: 1.2rem;
    line-height: 1.5rem;
  }

  @media screen and (max-width: 768px) {
    .citaBible {
      text-align: center;
    }
  }
</style>
