
<div class="w-max[768px] w-[768px] overflow-hidden m-auto">
  

<table class="table-fixed pt-2"  width="100%" cellspacing="0" cellpadding="0" border="0" role="presentation" style="border-collapse: collapse; color: rgb(80, 0, 80); font-family: Arial, Helvetica, sans-serif; font-size: small; background-color: rgb(255, 255, 255);">
  <tbody>
  <tr>
  <td class="m_570036717837311076r2-c" align="center" style="margin: 0px; border-collapse: collapse;"><table cellspacing="0" cellpadding="0" border="0" role="presentation" width="600" class="m_570036717837311076r3-o" style="border-collapse: collapse; table-layout: fixed; width: 600px;">
  <tbody>
  <tr>
  <td align="left" valign="top" class="m_570036717837311076r8-i m_570036717837311076nl2go-default-textstyle" style="margin: 0px; border-collapse: collapse; color: rgb(59, 63, 68); font-family: Lato, Arial; font-size: 16px; line-height: 1.5; word-break: break-word; padding-top: 30px;"><p style="margin: 0px;"><span style="color: rgb(0, 8, 20); font-family: lato, Arial;">¡Hola John Serrano!</span></p></td>
  </tr>
  
  </tbody>
  </table>
  
  </td>
  </tr>
  
  <tr>
  <td class="m_570036717837311076r2-c" align="center" style="margin: 0px; border-collapse: collapse;"><table cellspacing="0" cellpadding="0" border="0" role="presentation" width="600" class="m_570036717837311076r3-o" style="border-collapse: collapse; table-layout: fixed; width: 600px;">
  <tbody>
  <tr>
  <td align="left" valign="top" class="m_570036717837311076r9-i m_570036717837311076nl2go-default-textstyle" style="margin: 0px; border-collapse: collapse; color: rgb(59, 63, 68); font-family: Lato, Arial; font-size: 16px; line-height: 1.5; word-break: break-word; padding-bottom: 15px; padding-top: 15px;"><p style="margin: 0px;"><span style="color: rgb(0, 8, 20);">Espero que todo esté yendo muy bien. Te deseo un <strong>feliz lunes</strong> y una excelente semana, ¡llena de logros y éxitos! ✨ Acontinuación, te comparto las <strong>noticias más importantes</strong> de programación y tecnología, junto con <strong>recursos </strong>y <strong>libros recomendados</strong> que no te puedes perder. 🔥</span></p></td>
  </tr>
  
  </tbody>
  </table>
  
  </td>
  </tr>
  
  <tr>
  <td class="m_570036717837311076r2-c" align="center" style="margin: 0px; border-collapse: collapse;"><table cellspacing="0" cellpadding="0" border="0" role="presentation" width="600" class="m_570036717837311076r3-o" style="border-collapse: collapse; table-layout: fixed; width: 600px;">
  <tbody>
  <tr>
  <td align="left" valign="top" class="m_570036717837311076r10-i m_570036717837311076nl2go-default-textstyle" style="margin: 0px; border-collapse: collapse; color: rgb(59, 63, 68); font-family: Lato, Arial; font-size: 16px; line-height: 1.5; word-break: break-word; padding-top: 15px;"><h3 class="m_570036717837311076default-heading3" style="margin: 0px; color: rgb(31, 45, 61); font-family: Roboto, Arial; font-size: 24px; word-break: break-word;"><span style="font-family: lato, Arial; font-size: 16px;">📰 </span><span style="color: rgb(0, 8, 20); font-family: lato, Arial; font-size: 16px; font-weight: bold;">Noticias de programación y tecnología</span></h3>
  
  <p style="margin: 20px 0px;"> </p>
  
  <ul style="margin: 0px;"><li style="margin: 0px;"><span style="color: rgb(0, 8, 20);"><strong>Remix el framework de React ahora sera React Router</strong>. Durante casi 4 años hemos estado trabajando en Remix, un marco completo basado en estándares web para ayudarlo a crear mejores sitios web y aplicaciones.</span><strong>Ver noticia</strong></span>.</li>
  </ul>
  
  <p style="margin: 20px 0px;"> </p>
  
  <ul style="margin: 0px;"><li style="margin: 0px;"><span style="color: rgb(0, 8, 20); font-family: lato, Arial;"><strong>Reddit ya se alió con Google para su IA. Ahora ha hecho lo mismo con OpenAI.</strong> Los contenidos de la plataforma dirigida por Steve Huffman estarán disponibles en ChatGPT.</span><span style="font-family: lato, Arial;"> </span><span style="color: rgb(1, 76, 182); font-family: lato, Arial;"><strong>Ver noticia</strong></span><span style="font-family: lato, Arial;">.</span></li>
  </ul>
  
  <p style="margin: 20px 0px;"> </p>
  
  <ul style="margin: 0px;"><li style="margin: 0px;"><span style="color: rgb(0, 8, 20); font-family: lato, Arial;"><strong>Bill Gates cuenta cómo consiguió convertirse en un gran desarrollador</strong>: este es su principal consejo. </span><span style="color: rgb(0, 8, 20);">Experiencia, pero no es lo que estás pensando.</span> <span style="color: rgb(0, 75, 180);"><strong>Ver noticia</strong></span>.</li>
  </ul>
  
  <p style="margin: 20px 0px;"> </p>
  
  <ul style="margin: 0px;"><li style="margin: 0px;"><span style="color: rgb(0, 8, 20);"><strong>Esta semana en IA: OpenAI se aleja de la seguridad</strong>. OpenAI se está enfocando en sacar productos y esta descuidando la seguridad.</span> <span style="color: rgb(0, 75, 180);"><strong>Ver noticia</strong></span>.</li>
  </ul>
  
  <p style="margin: 0px;"> </p></td>
  </tr>
  
  </tbody>
  </table>
  
  </td>
  </tr>
  
  <tr>
  <td class="m_570036717837311076r11-c" align="center" style="margin: 0px; border-collapse: collapse;"><table cellspacing="0" cellpadding="0" border="0" role="presentation" width="600" class="m_570036717837311076r3-o" style="border-collapse: collapse; table-layout: fixed;">
  <tbody>
  <tr>
  <td class="m_570036717837311076r12-i" style="margin: 0px; border-collapse: collapse; padding-bottom: 20px; padding-top: 10px; height: 1px;"><table width="100%" cellspacing="0" cellpadding="0" border="0" role="presentation" style="border-collapse: collapse;">
  <tbody>
  <tr>
  <td style="margin: 0px; border-collapse: collapse;"><table width="100%" cellspacing="0" cellpadding="0" border="0" role="presentation" class="m_570036717837311076r12-i" height="1" style="border-collapse: collapse; border-top: 1px solid rgb(209, 209, 209); background-clip: border-box; font-size: 1px; line-height: 1px;">
  <tbody>
  <tr>
  <td height="0" style="margin: 0px; border-collapse: collapse; font-size: 0px; line-height: 0px;">­</td>
  </tr>
  
  </tbody>
  </table>
  
  </td>
  </tr>
  
  </tbody>
  </table>
  
  </td>
  </tr>
  
  </tbody>
  </table>
  
  </td>
  </tr>
  
  <tr>
  <td class="m_570036717837311076r2-c" align="center" style="margin: 0px; border-collapse: collapse;"><table cellspacing="0" cellpadding="0" border="0" role="presentation" width="600" class="m_570036717837311076r3-o" style="border-collapse: collapse; table-layout: fixed; width: 600px;">
  <tbody>
  <tr>
  <td align="left" valign="top" class="m_570036717837311076r13-i m_570036717837311076nl2go-default-textstyle" style="margin: 0px; border-collapse: collapse; color: rgb(59, 63, 68); font-family: Lato, Arial; font-size: 16px; line-height: 1.5; word-break: break-word; padding-bottom: 30px; padding-top: 15px;"><p style="margin: 0px;"><span style="color: rgb(0, 8, 20);"><strong>🚀 Recurso de la Semana</strong></span></p>
  
  <p style="margin: 20px 0px;"> </p>
  
  <p style="margin: 0px;"><span style="color: rgb(0, 75, 180);"><strong>useHooks</strong></span>: <span style="color: rgb(0, 8, 20);">Esta semana te recomendamos <strong>useHooks</strong>, una colección de Hooks de React modernos y seguros para el servidor, del equipo de ui.dev. </span>https://usehooks.com/</p>
  
  <p style="margin: 20px 0px;"> </p>
  
  <p style="margin: 0px;">📱 <span style="color: rgb(0, 8, 20);"><strong>Publicación Destacada en Redes</strong></span></p>
  
  <p style="margin: 20px 0px;"> </p>
  
  <p style="margin: 20px 0px;"><span style="color: rgb(0, 75, 180);"><strong>8 Bibliotecas indispensables para trabajar con React</strong></span>, <span style="color: rgb(0, 8, 20);">¿Ya viste mi última publicación en Instagram y Facebook me encuentras como <strong>@johnserranodev</strong>? Cuando trabajamos con React, tenemos diferentes necesidades que dependen del proyecto en el que estemos trabajando, desde la gestión del estado de nuestra aplicación hasta la adición de autenticación. </span></p>
  
  <p style="margin: 20px 0px;"> </p>
  
  <p style="margin: 0px;"><span style="color: rgb(0, 8, 20);">Si aún no lo has visto, te invito a que le eches un vistazo y compartas tu opinión.</span><span style="color: rgb(0, 75, 180);"> </span><strong>Ver publicación</strong></span><span style="color: rgb(0, 8, 20);">.</span></p>
  
  <p style="margin: 20px 0px;"> </p>
  
  <p style="margin: 0px;"><span style="color: rgb(0, 8, 20);">📚 <strong>Libro Recomendado de la semana</strong></span></p>
  
  <p style="margin: 20px 0px;"> </p>
  
  <p style="margin: 0px;"><span style="color: rgb(0, 8, 20);">El libro recomendado de la semana es: <strong>Cosas que piensas cuando te muerdes las uñas</strong>, excelente libro que trata sobre los origines y los tipos de miedos que existen y cargamos desde muy jóvenes. Si estás pasando por el síndrome del impostor dale una leída te ayudara un montón, totalmente recomendado. </span><span style="color: rgb(0, 75, 180);"><strong>Descargar libro</strong></span><span style="color: rgb(0, 8, 20);">.</span></p></td>
  </tr>
  
  </tbody>
  </table>
  
  </td>
  </tr>
  
  <tr>
  <td class="m_570036717837311076r2-c" align="center" style="margin: 0px; border-collapse: collapse;">
    
  <table class="table-fixed" align="center" cellspacing="0" cellpadding="0" border="0" role="presentation" width="600" class="m_570036717837311076r3-o" style="border-collapse: collapse; table-layout: fixed; width: 600px;">
  <tbody>
  <tr>
  <td align="left" valign="top" class="m_570036717837311076r14-i m_570036717837311076nl2go-default-textstyle" style="margin: 0px; border-collapse: collapse; color: rgb(59, 63, 68); font-family: Lato, Arial; font-size: 16px; line-height: 1.5; word-break: break-word; padding-bottom: 10px; padding-top: 5px;"><h2 class="m_570036717837311076default-heading2" style="margin: 0px; color: rgb(31, 45, 61); font-family: Roboto, Arial; font-size: 32px; word-break: break-word; text-align: center;"><a href="https://johnserrano.co" target="_blank" style="color: rgb(0, 8, 20); text-decoration-line: none;"><span style="color: rgb(0, 75, 180); font-size: 18px;">www.johnserrano.co</span></a></h2>
  
  </td>
  </tr>
  
  </tbody>
  </table>
  
  </td>
  </tr>
  
  <tr>
  <td class="m_570036717837311076r11-c" align="center" style="margin: 0px; border-collapse: collapse;"><table align="center" cellspacing="0" cellpadding="0" border="0" role="presentation" width="100%" align="center" class="m_570036717837311076r3-o" style="border-collapse: collapse; table-layout: fixed; width: 1632.01px;">
  <tbody>
  <tr>
  <td valign="top" style="margin: 0px; border-collapse: collapse;"><table class="table-fixed" align="center"  width="300px" cellspacing="0" cellpadding="0" border="0" role="presentation" style="border-collapse: collapse;">
  <tbody>
  <tr>
  <td class="m_570036717837311076r15-c" align="center" style="margin: 0px; border-collapse: collapse;"><table cellspacing="0" cellpadding="0" border="0" role="presentation" width="158" align="center" style="border-collapse: collapse; table-layout: fixed; width: 158px;">
  <tbody>
  <tr>
  <td style="margin: 0px; border-collapse: collapse; padding-bottom: 5px; padding-top: 15px;"><table width="100%" cellspacing="0" cellpadding="0" border="0" role="presentation" style="border-collapse: collapse;">
  <tbody>
  <tr>
  <th width="42" class="m_570036717837311076r16-c" style="font-weight: normal; text-align: left;">
  
  </th><th width="42" class="m_570036717837311076r16-c" style="font-weight: normal; text-align: left;"><table cellspacing="0" cellpadding="0" border="0" role="presentation" width="100%" class="m_570036717837311076r17-o" style="border-collapse: collapse; table-layout: fixed; width: 42px;">
  <tbody>
  <tr>
  <td class="m_570036717837311076r18-i" style="margin: 0px; border-collapse: collapse; font-size: 0px; line-height: 0px; padding-bottom: 5px; padding-top: 5px;">
  </tr>
  
  </tbody>
  </table>
  
  </th><th width="42" class="m_570036717837311076r16-c" style="font-weight: normal; text-align: left;"><table cellspacing="0" cellpadding="0" border="0" role="presentation" width="100%" class="m_570036717837311076r17-o" style="border-collapse: collapse; table-layout: fixed; width: 42px;">
  <tbody>
  <tr>
  <td class="m_570036717837311076r18-i" style="margin: 0px; border-collapse: collapse; font-size: 0px; line-height: 0px; padding-bottom: 5px; padding-top: 5px;">
  </tr>
  
  </tbody>
  </table>
  
  </th><th width="32" class="m_570036717837311076r16-c" style="font-weight: normal; text-align: left;"><table cellspacing="0" cellpadding="0" border="0" role="presentation" width="100%" class="m_570036717837311076r17-o" style="border-collapse: collapse; table-layout: fixed; width: 32px;">
  <tbody>
  <tr>
  <td class="m_570036717837311076r18-i" style="margin: 0px; border-collapse: collapse; font-size: 0px; line-height: 0px; padding-bottom: 5px; padding-top: 5px;"></td>
  </tr>
  
  </tbody>
  </table>
  
  </th></tr>
  
  </tbody>
  </table>
  
  </td>
  </tr>
  
  </tbody>
  </table>
  
  </td>
  </tr>
  
  <tr>
  <td class="m_570036717837311076r19-c" align="center" style="margin: 0px; border-collapse: collapse;"></td>
  </tr>
  
  </tbody>
  </table>
  
  </td>
  </tr>
  
  </tbody>
  </table>
  
  </td>
  </tr>
  
  <tr>
  <td class="m_570036717837311076r11-c" align="center" style="margin: 0px; border-collapse: collapse;"><table cellspacing="0" cellpadding="0" border="0" role="presentation" width="600" class="m_570036717837311076r3-o" style="border-collapse: collapse; table-layout: fixed;">
  <tbody>
  <tr>
  <td class="m_570036717837311076r26-i" style="margin: 0px; border-collapse: collapse; padding-bottom: 30px; padding-top: 30px; height: 1px;"><table width="100%" cellspacing="0" cellpadding="0" border="0" role="presentation" style="border-collapse: collapse;">
  <tbody>
  <tr>
  <td style="margin: 0px; border-collapse: collapse;"><table width="100%" cellspacing="0" cellpadding="0" border="0" role="presentation" class="m_570036717837311076r26-i" height="1" style="border-collapse: collapse; border-top: 1px solid rgb(209, 209, 209); background-clip: border-box; font-size: 1px; line-height: 1px;">
  <tbody>
  <tr>
  <td height="0" style="margin: 0px; border-collapse: collapse; font-size: 0px; line-height: 0px;">­</td>
  </tr>
  
  </tbody>
  </table>
  
  </td>
  </tr>
  
  </tbody>
  </table>
  
  </td>
  </tr>
  
  </tbody>
  </table>
  
  </td>
  </tr>
  
  <tr>
  <td class="m_570036717837311076r2-c" align="center" style="margin: 0px; border-collapse: collapse;"><table cellspacing="0" cellpadding="0" border="0" role="presentation" width="600" class="m_570036717837311076r3-o" style="border-collapse: collapse; table-layout: fixed; width: 600px;">
  <tbody>
  <tr>
  </tr>
  
  </tbody>
  </table>
  
  </td>
  </tr>
  
  </tbody>
  </table>
  
</div>