<div class='w-full bg-white px-5 md:px-16 py-7 md:w-max[768px] md:w-[768px] overflow-hidden m-auto'>
  <article class='flex flex-col gap-3 mb-5'>
    <span style='color: rgb(0, 8, 20); font-family: lato, Arial;'>¡Hola John Serrano!</span>
    <span style='color: rgb(0, 8, 20);'
      >Espero que todo esté yendo muy bien. Te deseo un <strong>feliz lunes</strong> y una excelente semana, ¡llena de logros
      y éxitos! ✨ Acontinuación, te comparto las <strong>noticias más importantes</strong> de programación y tecnología,
      junto con <strong>recursos </strong>y <strong>libros recomendados</strong> que no te puedes perder. 🔥</span
    >
  </article>

  <article class='flex flex-col gap-3 mb-10'>
    <div class='' style='margin: 0px; color: rgb(31, 45, 61); font-family: Roboto, Arial; font-size: 24px;'>
      <span style='font-family: lato, Arial; font-size: 16px;'>📰 </span><span
        style='color: rgb(0, 8, 20); font-family: lato, Arial; font-size: 16px; font-weight: bold;'
        >Noticias de programación y tecnología</span
      >
    </div>

    <ol class='list-disc pl-11 flex flex-col gap-3'>
      <li style='margin: 0px;'>
        <span style='color: rgb(0, 8, 20);'
          ><strong>Remix el framework de React ahora sera React Router</strong>. Durante casi 4 años hemos estado
          trabajando en Remix, un marco completo basado en estándares web para ayudarlo a crear mejores sitios web y
          aplicaciones.
        </span><strong style='color: rgb(1, 76, 182); font-family: lato, Arial;'>Ver noticia</strong>
      </li>

      <li style='margin: 0px;'>
        <span style='color: rgb(0, 8, 20); font-family: lato, Arial;'
          ><strong>Reddit ya se alió con Google para su IA. Ahora ha hecho lo mismo con OpenAI.</strong> Los contenidos de
          la plataforma dirigida por Steve Huffman estarán disponibles en ChatGPT.</span
        ><span style='font-family: lato, Arial;'> </span>
        <span style='color: rgb(1, 76, 182); font-family: lato, Arial;'><strong>Ver noticia</strong></span><span
          style='font-family: lato, Arial;'>.</span
        >
      </li>

      <li style='margin: 0px;'>
        <span style='color: rgb(0, 8, 20); font-family: lato, Arial;'
          ><strong>Bill Gates cuenta cómo consiguió convertirse en un gran desarrollador</strong>: este es su principal
          consejo.
        </span><span style='color: rgb(0, 8, 20);'>Experiencia, pero no es lo que estás pensando.</span>
        <span style='color: rgb(0, 75, 180);'><strong>Ver noticia</strong></span>.
      </li>

      <li style='margin: 0px;'>
        <span style='color: rgb(0, 8, 20);'
          ><strong>Esta semana en IA: OpenAI se aleja de la seguridad</strong>. OpenAI se está enfocando en sacar
          productos y esta descuidando la seguridad.</span
        >
        <span style='color: rgb(0, 75, 180);'><strong>Ver noticia</strong></span>.
      </li>
    </ol>
  </article>

  <article>
    <ul class='flex flex-col gap-6'>
      <li>
        <h2 class='mb-4' style='color: rgb(0, 8, 20);'><strong>🚀 Recurso de la Semana</strong></h2>
        <span style='color: rgb(0, 75, 180);'><strong>useHooks</strong></span>: <span style='color: rgb(0, 8, 20);'
          >Esta semana te recomendamos <strong>useHooks</strong>, una colección de Hooks de React modernos y seguros
          para el servidor, del equipo de ui.dev.
        </span>https://usehooks.com/
      </li>
      <li>
        <h2 class='mb-4' style='color: rgb(0, 8, 20);'><strong>📱 Publicación Destacada en Redes</strong></h2>
        <span style='color: rgb(0, 75, 180);'
          ><strong>8 Bibliotecas indispensables para trabajar con React</strong></span
        >, <span style='color: rgb(0, 8, 20);'
          >¿Ya viste mi última publicación en Instagram y Facebook me encuentras como <strong>@johnserranodev</strong>?
          Cuando trabajamos con React, tenemos diferentes necesidades que dependen del proyecto en el que estemos
          trabajando, desde la gestión del estado de nuestra aplicación hasta la adición de autenticación.
        </span>

        <div style='color: rgb(0, 8, 20);'>
          Si aún no lo has visto, te invito a que le eches un vistazo y compartas tu opinión.
          <span class='mt-3 inline-block' style='color: rgb(0, 75, 180);'><strong>Ver publicación</strong></span>
        </div>
      </li>
      <li>
        <h2 class='mb-4' style='color: rgb(0, 8, 20);'>📚 <strong>Libro Recomendado de la semana</strong></h2>
        <span style='color: rgb(0, 8, 20);'
          >El libro recomendado de la semana es: <strong>Cosas que piensas cuando te muerdes las uñas</strong>,
          excelente libro que trata sobre los origines y los tipos de miedos que existen y cargamos desde muy jóvenes.
          Si estás pasando por el síndrome del impostor dale una leída te ayudara un montón, totalmente recomendado.
        </span><span style='color: rgb(0, 75, 180);'><strong>Descargar libro</strong></span><span
          style='color: rgb(0, 8, 20);'>.</span
        >
      </li>
    </ul>

    <h2
      class='mt-5'
      style='color: rgb(31, 45, 61); font-family: Roboto, Arial; font-size: 32px; word-break: break-word; text-align: center;'
    >
      <a href='https://johnserrano.co' target='_blank' style='color: rgb(0, 8, 20); text-decoration-line: none;'
        ><span style='color: rgb(0, 75, 180); font-size: 18px;'>www.johnserrano.co</span></a
      >
    </h2>
  </article>
</div>
