---
import HeaderLink from './HeaderLink.astro'
import Hamburger from './Hamburger'
import Search from './Search'
---
<!-- https://github.com/withastro/astro/issues/5493 -->

<header class='Header'>
  <div class='header__menu container'>
    <Hamburger  client:load/>
    <nav class="nav">
      <ul class='menu'>
        <li>
          <HeaderLink href='/'>Inicio</HeaderLink>
        </li>
        <li>
          <HeaderLink href='/sobre-mi'>Sobre mi</HeaderLink>
        </li>
        <li>
          <HeaderLink href='/blog'>Blog</HeaderLink>
        </li>
        <li>
          <HeaderLink href='/tags/react'>React</HeaderLink>
        </li>
        <li>
          <HeaderLink href='/portafolio'>Portafolio</HeaderLink>
        </li>
      </ul>
    </nav>
    <Search client:load/> 
  </div>
</header>

<script>
 const hamburger = document.querySelector('#Hamburger')
 if (hamburger) {
    const header = document.querySelector('.Header')
    const nav = document.querySelector('.Header nav')
   hamburger.addEventListener('click', (e) => {
      // console.log(e?.target)
      if (header && !header.classList.contains('active_header')) {
        header?.classList.add('active_header')
        nav?.classList.add('active_nav')
        document.body.style.overflowY = 'hidden'
      } else {
        header?.classList.remove('active_header')
        nav?.classList.remove('active_nav') 
        document.body.style.overflowY = 'scroll'
      }
   })
 }
</script>

<style>
  .Header {
    height: 50px;
    background: #1c1c1c;
    /* border-bottom: 2px solid #ffffff;  */
  }

  .header__menu {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .nav {
    display: flex;
    align-items: center;
  }

  .menu {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 45px;
    width: calc((80px * 5));
  }

  .menu a {
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.6rem;
    transition: .2s;
  }

  .menu a:hover {
    color: #0078ae;
  }

  @media screen and (max-width: 768px) {
    .Header {
      position: fixed;
      top: 0; 
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      z-index: 19;
    }
    .active_header {
      position: fixed;
    }
    .nav {
      display: none;
      transition: .2s;
      position: fixed;
      left: 0;
      top: 50px;
      background: #1c1c1c;
      padding: 0;
      height: 100vh;
      width: 100vw;
      z-index: 20;
    }
    .active_nav {
      display: block;
    }
    .menu {
      flex-direction: column;
      margin: 0;
      height: 100vh;
      justify-content: center;
      width: 100%;
    }

    .menu li {
      margin: 0;
      padding: 15px 0;
      margin: 0;
      width: 100%;
    }
    .menu li:last-child {
      margin-bottom: 100px;
    }
    .menu a {
      display: block;
      text-align: center;
      width: 100%;
    }
  }
</style>
