---
import Menu from './Menu.astro'
import Hamburger from './Hamburger'
import Search from './Search'
---

<!-- https://github.com/withastro/astro/issues/5493 -->
<header class='Header'>
  <div class='header__menu container'>
    <nav class='nav'>
      <Menu />
    </nav>
    <div class='menu_mobile'>
      <Hamburger client:load />
      <aside aria-hidden='false' tabindex='1'>
        <nav>
          <Menu />
        </nav>
      </aside>
    </div>
    <Search client:load />
  </div>
</header>

<script>
  const hamburger = document.querySelector('#Hamburger')
  const header = document.querySelector('.Header')

  if (hamburger) {
    const menu_mobile = document.querySelector('.Header .menu_mobile')
    hamburger.addEventListener('click', e => {
      // console.log(e?.target)
      if (header && !menu_mobile?.classList.contains('active_nav')) {
        menu_mobile?.classList.add('active_nav')
        document.body.classList.add('blur')
      } else {
        menu_mobile?.classList.remove('active_nav')
        document.body.classList.remove('blur')
      }
    })
  }

  let lastScrollTop = 0

  window.addEventListener('scroll', function () {
    let scrollTop = document.documentElement.scrollTop

    if (scrollTop > lastScrollTop) {
      // El scroll va hacia abajo
      header?.classList.remove('header_show')
      header?.classList.add('header_hidden')
    } else {
      // El scroll va hacia arriba
      header?.classList.remove('header_hidden')
      header?.classList.add('header_show')
    }

    if (scrollTop <= 0) {
      header?.classList.remove('header_show')
    }

    lastScrollTop = scrollTop <= 0 ? 0 : scrollTop // Asignar el valor actual a lastScrollTop
  })
</script>

<style>
  :root {
    --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  .Header {
    height: 70px;
    transform: translateY(0px);
    background-color: #000814;
    box-shadow: none;
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 15;
    transition: var(--transition);
    backdrop-filter: blur(10px);
    --primary-color: #003566;
    --dark-color: #000814;
    --color-blue: #001d3d;
    --secondary-color: #002851;
    --tertiary-color: #004d94;
    --color-blue-500: #007cff;
    --color-blue-600: #005fdf;
    --color-blue-700: #004bb4;
    --color-blue-800: #004095;
    --color-blue-900: #002e6b;
    --light-gray: #344358;
    --color-gray: #2f3a4c;
    --dark-gray: #1f2532;
    --color-white: #fff;
    --color-white-opacity-70: #ffffffb3;
  }

  .header__menu {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
  }

  .menu_mobile {
    display: none;
  }

  .nav {
    display: flex;
    align-items: center;
  }

  @media (prefers-reduced-motion: no-preference) {
    .header_hidden {
      height: 70px;
      transform: translateY(calc(70px * -1));
      box-shadow: 0 5px 30px -10px rgb(0 124 255 / 60%);
    }

    .header_show {
      height: 70px;
      transform: translateY(0px);
      box-shadow: 0 5px 30px -10px rgb(0 124 255 / 60%);
      background-color: rgb(0 8 20 / 98%);
    }
  }

  @media screen and (max-width: 768px) {
    .Header {
      top: 0;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: fixed;
      z-index: 19;
    }

    .nav {
      display: none;
    }

    .menu_mobile {
      display: block;
      order: 2;
    }
    .menu_mobile aside {
      display: flex;
      -webkit-box-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      align-items: center;
      position: fixed;
      top: 0px;
      bottom: 0px;
      right: 0px;
      padding: 50px 10px;
      width: min(75vw, 400px);
      height: 100vh;
      outline: 0px;
      background-color: var(--secondary-color);
      box-shadow: -10px 0px 30px -15px rgb(0 124 255 / 70%);
      z-index: 9;
      transform: translateX(100vw);
      visibility: hidden;
      transition: var(--transition);
      box-sizing: border-box;
    }

    .menu_mobile nav {
      display: flex;
      -webkit-box-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      align-items: center;
      width: 100%;
      flex-direction: column;
      color: var(--color-white);
      text-align: center;
    }

    .menu_mobile.active_nav aside {
      transform: translateX(0vw);
      visibility: visible;
    }
  }
</style>
