---
const { id, open } = Astro.props
---

<button onclick={`window.${id}.showModal()`}>{open}</button>

<dialog id={id} onclick='
window.event.target == this && this.close()
'>
  <slot name='main' />
  <form method='dialog'>
    <slot name='close' />
  </form>
</dialog>

<style>
  dialog {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    margin: 0;
    border: none;
    --text-color-one: #ffffff;
    --text-color-two: #073b4c;
    --background-color-one: #ef476f;
  }
  dialog::backdrop {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background: rgba(0, 8, 20, 0.8);
  }
  button {
    display: block;
    padding: 10px 18px;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 3px;
    border: none;
    background: var(--background-color-one);
    color: var(--text-color-one);
    cursor: pointer;
  }
  form {
    margin: 10px 0 0;
    padding-left: 10px;
  }
  @media screen and (max-width: 768px) {
    dialog {
      top: 50%;
      width: 100%;
      padding: 10px 0;
    }
  }
</style>
