---
import Layout from '../../layouts/generic.astro'
---

<Layout
  title='Feliz D칤a a la Mejor Mam치 de este Mundo'
  description='En este d칤a quiero decirte que eres una de las mejores mam치s de este mundo y te mereces muchas cosas bonitas porque eres una gran mujer una mujer muy valiosa e importante para Mi.'
  video='yes'
  image='https://res.cloudinary.com/john-serrano/image/upload/v1685043055/John%20Serrano/Andrey%20-%20Ammi/dia-de-la-mama/poster_nxsbuo.jpg'
>
  <main>
    <section class="container_mylove">
      <h1>Feliz D칤a a la Mejor Mam치 de este Mundo</h1>
    
      <div class="video">
        <!-- <video id="player" playsinline controls data-poster="/path/to/poster.jpg"> -->
        <video id="player" playsinline controls>
          <source src="https://res.cloudinary.com/john-serrano/video/upload/v1684944982/John%20Serrano/Andrey%20-%20Ammi/dia-de-la-mama/Mi_reina_feliz_d%C3%ADa_mam%C3%A1_xkp5lm.mp4" type="video/mp4" />
          <!-- <source src="/path/to/video.webm" type="video/webm" /> -->
        
          <!-- Captions are optional -->
          <!-- <track kind="captions" label="English captions" src="/path/to/captions.vtt" srclang="en" default /> -->
        </video>
      </div>

      <footer>
        <p>En este d칤a quiero decirte que eres una de las mejores mam치s de este mundo y te mereces muchas cosas bonitas 游눔 porque eres una gran mujer una mujer muy valiosa e importante para Mi. 游땘 Te amo mucho mi amor hermosa con mucho cari침o y amor Andrey Serrano. 游눘游눘</p>
        <time>28 de Mayo del 2023</time>
      </footer>
    </section>
  </main>
</Layout>

<script>
  const player = new Plyr('#player', { title: 'La mejor mam치 del este mundo...'});
</script>

<style>
  :root {
    --plyr-color-main: #0093E9;
  }

  main {
    /* background: rgb(189,224,254);
    background: radial-gradient(circle, rgba(189,224,254,1) 0%, rgba(205,180,219,1) 100%); */

    /* background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%); */
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);

    padding: 20px 0;
    height: 100%;
    min-height: 100vh;
  }

  h1 {
    font-size: 3rem;
    text-align: center;
    line-height: 3rem;
    margin: 0 0 20px;
    background: rgba(214, 175, 235, 1);
    background: radial-gradient(circle, rgba(214, 175, 235, 1) 50%,rgba(185, 220, 255, 1) 100%); 100%);
    /* background: radial-gradient(circle, rgba(205,180,219,1) 50%, rgba(162,210,255,1) 100%); */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(2px 2px #001d3d);
  }

  .video {
    max-width: 500px;
    margin: 0 auto;
    border: 5px solid #cdb4db;
    border-radius: 3px;
    width: 100%;
  }

  .container_mylove {
    max-width: 740px;
    margin: 0 auto;
    width: 100%;
  }
  p {
    font-size: 2rem;
    line-height: 2.3rem;
    text-align: center;
    margin: 0 0 10px;
  }
  time {
    font-size: 1.4rem;
    text-align: center;
    display: block;
  }
  footer {
    /* border: 2px solid #8b6fcb;
    border-radius: 30px; */
    padding: 20px;
    margin: 20px 0;
  }

  @media screen and (max-width: 768px) {
    .video {
      border-right: 0;
      border-left: 0;
    }
    footer {
      padding: 10px 5px 0;
    }
    p {
      font-size: 1.6rem;
      line-height: 1.8rem;
    }
    time {
      font-size: 1.2rem;
    }
  }
</style>