

<main>
  <h1>Andrey & Ammi</h1>
  <ul class="meses">
    <li class="mes mes1">
      <img src="https://res.cloudinary.com/john-serrano/image/upload/v1684700047/John%20Serrano/Andrey%20-%20Ammi/pedida-de-noviazgo/20221115_114413_kcj2ul.jpg" alt="mes-1">
      <p>Mes 1</p>
    </li>
    <li class="mes mes2">
      <img src="" alt="mes-2">
      <p>Mes 2</p>
    </li>
    <li class="mes mes3"><img src="" alt="mes-3">
      <p>Mes 3</p>
    </li>
    <li class="mes mes4"><img src="" alt="mes-4">
      <p>Mes 4</p>
    </li>
    <li class="mes mes5"><img src="" alt="mes-5">
      <p>Mes 5</p>
    </li>
    <li class="mes mes6"><img src="" alt="mes-6">
      <p>Mes 6</p>
    </li>
  </ul>
</main>

<style>
  .meses {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  .mes img {
    max-width: 360px;
  }
</style>