.Search {
  position: relative;
  width: 280px;
}

.search__results {
  position: absolute;
  top: 100%;
  right: 0;
  background: #ffffff;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.22);
  padding: 12px 14px;
  max-width: 100%;
  box-sizing: border-box;
  overflow: auto;
  width: 100%;
  z-index: 50;
}

.search__form {
  display: grid;
  grid-template-columns: 1fr auto;
}

.search__form input {
  outline: none;
  border: 1px solid #eeeeee;
  border-radius: 2px 0 0 2px;
  color: #1c1c1c;
  padding: 5px;
  height: 35px;
  box-sizing: border-box;
  width: 100%;
}

.search__form button {
  background: #001d3d url('/lupa.svg') center/20px no-repeat;
  height: 100%;
  border: 1px solid #004095;
  border-radius: 0 2px 2px 0;
  cursor: pointer;
  padding: 0;
  text-indent: -9999px;
  width: 45px;
}

.search__form button a {
  display: block;
  height: 100%;
}

.post-item {
  margin-bottom: 10px;
}

.title {
  text-decoration: none;
  color: #1c1c1c;
}

.title:hover {
  opacity: 0.9;
  color: #0078ae;
}

@media screen and (max-width: 768px) {
  #Search {
    margin-right: 20px;
  }
}