<section class='cotizacion' id='contacto'>
  <div class='content'>
    <figure data-aos='fade-up' data-aos-delay='400'>
      <img
        src='/servicios/quote.svg'
        alt='Cotización'
        width='600'
        height='600'
      />
    </figure>

    <div class='textCotizacion'>
      <p>
        ¡Obtén tu <strong>cotización</strong> personalizada hoy mismo! Descubre cómo
        <strong>nuestros servicios</strong> de desarrollo web y marketing digital
        pueden impulsar tu negocio en línea. ¡No esperes más para llevarlo al siguiente
        nivel! Solicita una cotización y comienza a crecer en el mundo digital.
      </p>
      <!-- <a
        class='button'
        href='https://wa.me/3115055761?text=Hola,%20quiero%20saber%20m%C3%A1s%20sobre%20los%20servicios%20que%20ofrecen.%20%C2%BFPuede%20ayudarme?%20'
        target='_blank'>Solicita una Cotización</a
      > -->
      <a class='button' href='mailto:me@johnserrano.co' target='_blank'
        >Solicita una Cotización</a
      >
    </div>
  </div>
</section>

<style>
  .cotizacion {
    text-align: center;
    padding: 100px 0;
    background-color: var(--background-color-secondary);
  }
  /* .cotizacion .button {
    border: none;
    padding: 20px;
    color: var(--text-black);
    background-color: var(--text-yellow);
    text-decoration: none;
    font-size: var(--font-size-l);
    border: none;
    border-radius: 5px;
  } */

  .cotizacion .content {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
    gap: 10px;
  }

  .cotizacion figure {
    margin: 0;
  }
  .cotizacion figure img {
    width: 598px;
  }
  .cotizacion .textCotizacion {
    margin: 0;
    display: grid;
    gap: 30px;
    justify-items: center;
  }
  .cotizacion p {
    font-size: var(--font-size-xm);
    line-height: 1.6rem;
    font-weight: 400;
  }
  .cotizacion .button {
    box-shadow: 0px 1px 0px 0px #fca211;
    /* background: linear-gradient(to bottom, #ffed64 5%, #fca211 100%); */
    background-color: #fca211;
    border-radius: 6px;
    border: 1px solid var(--background-color);
    display: inline-block;
    cursor: pointer;
    color: #000000;
    font-size: var(--font-size-xm);
    font-weight: bold;
    padding: 12px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffee66;
    transition: all ease-in-out 0.2s;
    width: 320px;
    box-sizing: border-box;
  }
  .cotizacion .button:hover {
    /* background: linear-gradient(to bottom, #fca211 5%, #ffed64 100%); */
    background-color: var(--background-color);
    color: #fca211;
  }
  .cotizacion .button:active {
    position: relative;
    top: 1px;
  }

  @media screen and (max-width: 768px) {
    .cotizacion {
      padding-top: 80px;
    }
    .cotizacion .content {
      width: 96%;
    }
    .cotizacion figure {
      display: none;
    }
    .cotizacion p {
      margin-top: 0;
    }
    .cotizacion .textCotizacion {
      gap: 10px;
    }
  }
</style>
