<footer>
  <section class='container_services'>
    <h2>Información de contacto</h2>

    <div class='info'>
      <div class='email'>
        Correo electrónico
        <a href='mailto:me@johnserrano.co'>me@johnserrano.co</a>
      </div>
      <ul class='redes'>
        <li>
          <a href='https://www.facebook.com/johnserranodev' aria-label='Facebook' target='_blank' rel='noreferrer'>
            <svg viewBox='0 0 1024 1024' fill='currentColor' height='2.7rem' width='2.7rem'>
              <path
                d='M880 112H144c-17.7 0-32 14.3-32 32v736c0 17.7 14.3 32 32 32h736c17.7 0 32-14.3 32-32V144c0-17.7-14.3-32-32-32zm-92.4 233.5h-63.9c-50.1 0-59.8 23.8-59.8 58.8v77.1h119.6l-15.6 120.7h-104V912H539.2V602.2H434.9V481.4h104.3v-89c0-103.3 63.1-159.6 155.3-159.6 44.2 0 82.1 3.3 93.2 4.8v107.9z'
              ></path>
            </svg>
          </a>
        </li>
        <li>
          <a href='https://www.linkedin.com/in/jandreys15' aria-label='Linkedin' target='_blank' rel='noreferrer'>
            <svg viewBox='0 0 1024 1024' fill='currentColor' height='2.7rem' width='2.7rem'>
              <path
                d='M880 112H144c-17.7 0-32 14.3-32 32v736c0 17.7 14.3 32 32 32h736c17.7 0 32-14.3 32-32V144c0-17.7-14.3-32-32-32zM349.3 793.7H230.6V411.9h118.7v381.8zm-59.3-434a68.8 68.8 0 1168.8-68.8c-.1 38-30.9 68.8-68.8 68.8zm503.7 434H675.1V608c0-44.3-.8-101.2-61.7-101.2-61.7 0-71.2 48.2-71.2 98v188.9H423.7V411.9h113.8v52.2h1.6c15.8-30 54.5-61.7 112.3-61.7 120.2 0 142.3 79.1 142.3 181.9v209.4z'
              ></path>
            </svg>
          </a>
        </li>
      </ul>
    </div>

    <div class='copyright astro-SZ7XMLTE'>
      <span class='astro-SZ7XMLTE'>© 2015 - 2023</span>
      por johnserrano.co
    </div>
  </section>
</footer>

<style>
  footer {
    background: hsla(221, 51%, 16%, 1);

    background: radial-gradient(circle, hsla(221, 51%, 16%, 1) 0%, hsla(0, 0%, 0%, 1) 100%);

    background: -moz-radial-gradient(circle, hsla(221, 51%, 16%, 1) 0%, hsla(0, 0%, 0%, 1) 100%);

    background: -webkit-radial-gradient(circle, hsla(221, 51%, 16%, 1) 0%, hsla(0, 0%, 0%, 1) 100%);
    padding: 70px 0;
    color: var(--text-white);
  }

  h2 {
    margin: 0;
    font-size: var(--font-size-xm);
    line-height: 1.6rem;
  }

  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  a {
    text-decoration: none;
    color: var(--link-color);
    transition: all ease-in 0.2s;
  }

  .info {
    display: flex;
    gap: 10px;
  }

  .email {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .redes a:hover {
    color: var(--text-white);
  }

  footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
</style>
