---
import Layout from '../../layouts/generic.astro'
import Services from './services.astro'
---

<Layout>
  <section id='page_services'>
    <header>
      <div class='container_servicios nav'>
        <a href='/servicios'><h2>John Serrano</h2></a>
        <nav>
          <ul>
            <li>
              <a class='active' href='#inicio'>Inicio</a>
            </li>
            <li>
              <a href='#acerca-de-mi'>Acerca de mi</a>
            </li>
            <li>
              <a href='#servicios'>Servicios</a>
            </li>
            <li>
              <a href='#trabajos'>Trabajos</a>
            </li>
            <li>
              <a href='/blog' target='_blank'>Blog</a>
            </li>
            <li>
              <a href='#contacto'>Contacto</a>
            </li>
          </ul>
        </nav>
      </div>

      <div class='container_servicios grid'>
        <div class='text'>
          <h1>Desarrollo de Sitios Web Profesionales</h1>
          <p>
            Potencia tu presencia en línea con nuestros servicios profesionales
            de desarrollo web. Diseñamos sitios web a medida que impulsan tu
            negocio y capturan la atención de tu audiencia objetivo.
          </p>
          <div class='buttons'>
            <a href='#acerca-de-mi' class='button saber_mas'>Saber más</a>
            <a href='#portafolio' class='button portafolio'>Portafolio</a>
          </div>
        </div>
        <div class='image'>
          <img
            src='/servicios/developer-2.jpg'
            alt='Desarrollo de sitios web Profesionales'
          />
        </div>
      </div>
    </header>
    <main>
      <div class='propuesta_valor'>
        <div class='container_servicios'>
          <h2>Propuesta De Valor</h2>
          <ul>
            <li>
              <img
                src='/servicios/prop-valor/web-design.png'
                alt='Diseño web Innovador'
              />
              <h3>Diseño Web Innovador</h3>
              <p>
                Diseños modernos hasta elementos visuales impactantes, nos
                aseguramos de que tu sitio web destaque y genere una impresión
                duradera en tus visitantes.
              </p>
            </li>
            <li>
              <img
                src='/servicios/prop-valor/front-end.png'
                alt='Experiencia de Usuario Intuitiva'
              />
              <h3>Experiencia de Usuario Intuitiva</h3>
              <p>
                Creamos interfaces intuitivas que guían a tus visitantes a
                través del contenido de manera fluida, asegurando que encuentren
                fácilmente lo que están buscando y tengan una experiencia
                agradable en tu sitio web.
              </p>
            </li>
            <li>
              <img
                src='/servicios/prop-valor/search-engine-optimization.png'
                alt='Optimización para Motores de Búsqueda (SEO)'
              />
              <h3>Optimización para Motores de Búsqueda (SEO)</h3>
              <p>
                Implementamos técnicas de SEO eficaces para que tu sitio web sea
                fácilmente descubierto por los motores de búsqueda. Mediante la
                optimización de palabras clave, metaetiquetas.
              </p>
            </li>
            <li>
              <img
                src='/servicios/prop-valor/technical-support.png'
                alt='Soporte Técnico Confiable'
              />
              <h3>Soporte Técnico Confiable</h3>
              <p>
                Ofrecemos un soporte técnico confiable para resolver cualquier
                problema técnico o consulta que puedas tener. Estamos para
                ayudarte en cualquier momento y asegurarnos de que tu sitio web
                funcione sin problemas.
              </p>
            </li>
            <li>
              <img
                src='/servicios/prop-valor/social-media.png'
                alt='Integración de Redes Sociales'
              />
              <h3>Integración de Redes Sociales</h3>
              <p>
                Añadimos botones y widgets sociales para que tus visitantes
                puedan seguirte en plataformas como Facebook, Instagram y
                Twitter, lo que aumenta la visibilidad de tu marca y fomenta la
                participación de los usuarios.
              </p>
            </li>
            <li>
              <img
                src='/servicios/prop-valor/project-management.png'
                alt='Entrega a Tiempo y Presupuesto'
              />
              <h3>Entrega a Tiempo y Presupuesto</h3>
              <p>
                Nos comprometemos a entregar tus proyectos de desarrollo web
                dentro de los plazos acordados y dentro del presupuesto
                establecido.
              </p>
            </li>
          </ul>
        </div>
      </div>

      <!-- Services -->
      <Services />
      <h2>CTA Solicita una Cotización</h2>
    </main>
    <footer>
      <h2>Información de contacto</h2>
    </footer>
  </section>
</Layout>

<style>
  #page_services {
    --width: 1000px;
    --background-color: #14213d;
    --background-color-two: #000000;
    --background-color-three: #fca311;
    --heading-color: #14213d;
    --text-white: #ffffff;
    --text-black: #000000;
    --background-white: #ffffff;
    --background-color-secondary: #e5e5e5;
    --link-color: #fca311;
    --background-color-button: #fca311;
    --font-size-s: 1rem;
    --font-size-sm: 1.2rem;
    --font-size-xm: 1.3rem;
    --font-size-m: 1.5rem;
    --font-size-l: 2rem;
    --font-size-lx: 2.5rem;
  }
  header {
    background: hsla(221, 51%, 16%, 1);
    background: linear-gradient(
      130deg,
      hsla(221, 51%, 16%, 1) 30%,
      hsla(0, 0%, 0%, 1) 100%
    );
    background: -moz-linear-gradient(
      130deg,
      hsla(221, 51%, 16%, 1) 30%,
      hsla(0, 0%, 0%, 1) 100%
    );
    background: -webkit-linear-gradient(
      130deg,
      hsla(221, 51%, 16%, 1) 30%,
      hsla(0, 0%, 0%, 1) 100%
    );
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#14213D", endColorstr="#000000", GradientType=1 );
    min-height: 50vh;
    padding: 10px 0 30px;
    /* box-sizing: border-box; */
    display: grid;
  }
  .container_servicios {
    max-width: var(--width);
    margin: 0 auto;
  }
  header .container_servicios.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: start;
    width: 100%;
  }
  header .container_servicios nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
  }
  header .container_servicios a {
    text-decoration: none;
  }
  header .container_servicios ul a {
    color: var(--text-white);
    font-size: var(--font-size-xm);
  }
  header .container_servicios h2 {
    font-size: var(--font-size-m);
    color: var(--text-white);
    margin: 0;
  }
  header .container_servicios ul a.active {
    color: var(--link-color);
  }
  header .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-self: center;
  }
  header .grid .text {
    color: var(--text-white);
    display: flex;
    flex-direction: column;
  }
  header .buttons {
    display: flex;
    gap: 20px;
  }
  header .button {
    border: none;
    padding: 10px;
    box-sizing: border-box;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 3px;
  }
  header .saber_mas {
    color: var(--text-black);
    background-color: var(--background-color-button);
  }

  header .portafolio {
    color: var(--text-black);
    background-color: var(--background-color-secondary);
  }

  header .grid .text h1 {
    font-size: var(--font-size-l);
    line-height: 2.3rem;
    color: var(--link-color);
    margin: 0;
  }
  header .grid .text p {
    font-size: var(--font-size-m);
    line-height: 1.8rem;
    color: var(--text-white);
    margin: 20px 0 30px;
  }

  header .image {
    display: flex;
    justify-content: center;
    color: var(--text-white);
    justify-self: end;
  }
  header .image img {
    width: 380px;
    height: 380px;
    border-radius: 100%;
    object-fit: cover;
  }

  .propuesta_valor {
    background: var(--background-color-secondary);
    padding: 50px 0;
  }
  .propuesta_valor h2 {
    margin: 0;
    text-align: center;
    font-size: var(--font-size-lx);
    color: var(--background-color);
  }
  .propuesta_valor ul {
    padding: 0;
    margin: 30px 0 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 450px);
    justify-content: center;
    gap: 20px 30px;
  }

  .propuesta_valor li h3 {
    font-size: var(--font-size-m);
    line-height: 1.8rem;
    color: var(--background-color-two);
    margin: 10px 0 0;
    transition: all ease-in-out 0.2s;
  }
  .propuesta_valor li h3:hover {
    color: var(--link-color);
  }
  .propuesta_valor li {
    background: var(--background-white);
    padding: 40px 30px;
    border-radius: 5px;
  }
  .propuesta_valor li img {
    width: 60px;
  }
  .propuesta_valor li p {
    font-size: var(--font-size-sm);
    line-height: 1.5rem;
    color: var(--heading-color);
    margin: 15px 0 0;
  }
</style>
