---
import Layout from '../../layouts/generic.astro'
import PropuestaValor from './propuesta-valor.astro'
import Services from './services.astro'
import Works from './works.astro'
import Header from './header.astro'
import Cotizacion from './cotizacion.astro'
import Footer from './footer.astro'
---

<Layout
  title='Desarrollo de Sitios Web Profesionales'
  description='Potencia tu presencia en línea con nuestros servicios profesionales de desarrollo web. Diseñamos sitios web a medida que impulsan tu negocio y capturan la atención de tu audiencia objetivo.'
  image='/servicios/default-3.jpg'
>
  <section id='page_services'>
    <Header />
    <main>
      <!-- Services -->
      <Services />

      <!-- Propuesta de valor -->
      <PropuestaValor />

      <!-- Works -->
      <Works />

      <Cotizacion />
    </main>

    <Footer />
  </section>
</Layout>

<script>
  import AOS from 'aos'
  import 'aos/dist/aos.css'

  AOS.init({
    // Global settings:
    disable: false, // accepts following values: 'phone', 'tablet', 'mobile', boolean, expression or function
    startEvent: 'DOMContentLoaded', // name of the event dispatched on the document, that AOS should initialize on
    initClassName: 'aos-init', // class applied after initialization
    animatedClassName: 'aos-animate', // class applied on animation
    useClassNames: false, // if true, will add content of `data-aos` as classes on scroll
    disableMutationObserver: false, // disables automatic mutations' detections (advanced)
    debounceDelay: 50, // the delay on debounce used while resizing window (advanced)
    throttleDelay: 99, // the delay on throttle used while scrolling the page (advanced)

    // Settings that can be overridden on per-element basis, by `data-aos-*` attributes:
    offset: 120, // offset (in px) from the original trigger point
    delay: 0, // values from 0 to 3000, with step 50ms
    duration: 400, // values from 0 to 3000, with step 50ms
    easing: 'ease', // default easing for AOS animations
    once: false, // whether animation should happen only once - while scrolling down
    mirror: false, // whether elements should animate out while scrolling past them
    anchorPlacement: 'top-bottom', // defines which position of the element regarding to window should trigger the animation
  })
</script>

<style is:global>
  #splide-works .splide__pagination__page {
    border-radius: 5px;
    height: 5px;
    width: 15px;
  }

  .splide__pagination {
    bottom: -25px;
  }

  /* @media screen and (max-width: 768px) {
    .splide__pagination {
      bottom: -25px;
    }
  } */
</style>

<style>
  html {
    scroll-behavior: smooth;
  }
  #page_services {
    --width: 1000px;
    --background-color: #14213d;
    --background-color-two: #000000;
    --background-color-three: #fca311;
    --heading-color: #14213d;
    --background-white: #ffffff;
    --text-white: #ffffff;
    --text-black: #000000;
    --text-gray: #e5e5e5;
    --text-yellow: #fca311;
    --background-white: #ffffff;
    --background-color-secondary: #e5e5e5;
    --link-color: #fca311;
    --background-color-button: #fca311;
    --font-size-s: 1rem;
    --font-size-sm: 1.2rem;
    --font-size-xm: 1.3rem;
    --font-size-m: 1.5rem;
    --font-size-l: 2rem;
    --font-size-lx: 2.5rem;
  }
</style>
