<section class='my_services' id='servicios'>
  <div class='container_services'>
    <h2>Servicios</h2>
    <p class='summary'>
      Nuestros servicios web brindan soluciones personalizadas para tu negocio en línea. Diseño web innovador,
      experiencia de usuario intuitiva y optimización SEO son solo algunos de los servicios que ofrecemos para ayudarte
      a destacar en el mundo digital.
    </p>
    <ul class='list_services'>
      <li data-aos='zoom-in-up' data-aos-delay='50'>
        <img
          class='icono'
          src='/servicios/iconos-services/ui-design.png'
          alt='Diseño web personalizado UI/UX'
          loading='lazy'
          width='60'
          height='60'
        />
        <div class='description'>
          <h3>Diseño web personalizado UI/UX</h3>
          <p>
            Creación de interfaces atractivas y fáciles de usar para garantizar una experiencia de usuario óptima en tu
            sitio web que reflejen la identidad y los objetivos de tu negocio.
          </p>
        </div>
        <!-- <a href="/">Flecha</a> -->
      </li>
      <li data-aos='zoom-in-up' data-aos-delay='100'>
        <img
          class='icono'
          src='/servicios/iconos-services/monitor-color.png'
          alt='Análisis y seguimiento web'
          loading='lazy'
          width='60'
          height='60'
        />
        <div class='description'>
          <h3>Análisis y seguimiento web</h3>
          <p>
            Implementación de herramientas de análisis web para recopilar datos y proporcionar informes detallados sobre
            el rendimiento y el comportamiento de los visitantes en tu sitio web.
          </p>
        </div>
        <!-- <a href="/">Flecha</a> -->
      </li>
      <li data-aos='zoom-in-up' data-aos-delay='150'>
        <img
          class='icono'
          src='/servicios/iconos-services/coding.png'
          alt='Desarrollo de sitios web'
          loading='lazy'
          width='60'
          height='60'
        />
        <div class='description'>
          <h3>Desarrollo de sitios web</h3>
          <p>
            Creamos sitios web a medida para impulsar tu presencia en línea. Nuestro enfoque colaborativo nos permite
            comprender tus necesidades y objetivos comerciales para ofrecerte soluciones web únicas y efectivas.
          </p>
        </div>
        <!-- <a href="/">Flecha</a> -->
      </li>
      <li data-aos='zoom-in-up' data-aos-delay='200'>
        <img
          class='icono'
          src='/servicios/iconos-services/seo.png'
          alt='Optimización SEO'
          loading='lazy'
          width='60'
          height='60'
        />
        <div class='description'>
          <h3>Optimización SEO</h3>
          <p>
            Implementación de técnicas y estrategias de optimización para mejorar el posicionamiento de tu sitio web en
            los motores de búsqueda y aumentar su visibilidad en línea.
          </p>
        </div>
        <!-- <a href="/">Flecha</a> -->
      </li>
      <li data-aos='zoom-in-up' data-aos-delay='250'>
        <img
          class='icono'
          src='/servicios/iconos-services/ecommerce.png'
          alt='Integración de comercio electrónico'
          loading='lazy'
          width='60'
          height='60'
        />
        <div class='description'>
          <h3>Integración de comercio electrónico</h3>
          <p>
            Configuración de una tienda en línea completa con pasarelas de pago seguras, carrito de compras y opciones
            de administración de inventario.
          </p>
        </div>
        <!-- <a href="/">Flecha</a> -->
      </li>
      <li data-aos='zoom-in-up' data-aos-delay='300'>
        <img
          class='icono'
          src='/servicios/iconos-services/shopping-online.png'
          alt='Integración de comercio electrónico'
          loading='lazy'
          width='60'
          height='60'
        />
        <div class='description'>
          <h3>Marketing Digital</h3>
          <p>
            Aumenta tu visibilidad en línea y alcanza a tu audiencia objetivo con estrategias personalizadas de
            marketing digital. Ofrecemos SEO, publicidad en línea, gestión de redes sociales y análisis de datos para
            impulsar el crecimiento de tu negocio.
          </p>
        </div>
        <!-- <a href="/">Flecha</a> -->
      </li>
    </ul>
  </div>
</section>

<style>
  .my_services {
    /* background-color: var(--background-color-three); */
    background-color: var(--background-color-secondary);
    padding: 50px 0;
    overflow: hidden;
  }
  .container_services {
    max-width: var(--width);
    margin: 0 auto;
    width: 100%;
  }
  .container_services h2 {
    font-size: var(--font-size-lx);
    color: var(--heading-color);
    margin: 0 auto;
    text-align: center;
    font-weight: 700;
  }
  .container_services .summary {
    font-size: var(--font-size-xm);
    color: var(--heading-color);
    margin: 10px 0;
    text-align: center;
  }

  .list_services {
    list-style: none;
    padding: 0;
    margin: 30px 0 0;
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    gap: 20px 10px;
  }

  .list_services li {
    /* background: var(--background-color-secondary); */
    background: var(--background-white);
    padding: 30px 20px;
    border-radius: 5px;
  }

  .list_services .description h3 {
    font-size: var(--font-size-m);
    line-height: 1.8rem;
    /* color: var(--heading-color); */
    color: var(--background-color-two);
    margin: 10px 0 0;
    transition: all ease-in-out 0.2s;
    font-weight: 700;
  }
  .list_services .description h3:hover {
    /* color: var(--text-black); */
    color: var(--link-color);
  }
  .list_services .description p {
    font-size: var(--font-size-sm);
    line-height: 1.5rem;
    /* color: var(--text-black); */
    color: var(--heading-color);
    margin: 15px 0 0;
  }
  .list_services .icono {
    width: 60px;
  }

  @media screen and (max-width: 768px) {
    .container_services .summary {
      margin: 10px;
    }
    .list_services {
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      margin: 30px 10px 0;
    }

    .my_services {
      padding-top: 30px;
    }
  }
</style>
