---
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import Gtm from '../components/gtm.astro'
import AdSense from '../components/adsense.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts'
const { title, description, image, datePublished } = Astro.props
---

<!doctype html>
<html lang='es'>
  <head>
    <Gtm />
    <BaseHead
      title={title || SITE_TITLE}
      description={description || SITE_DESCRIPTION}
      image={image}
      datePublished={datePublished}
    />
    <AdSense />
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
      <iframe
        src='https://www.googletagmanager.com/ns.html?id=GTM-MKJQTJ3'
        height='0'
        width='0'
        style='display:none;visibility:hidden'></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <section id='Layout'>
      <Header title={SITE_TITLE} />
      <slot />
      <Footer />
    </section>
    <style>
      #Layout {
        display: flex;
        flex-direction: column;
        margin: 0;
        min-height: 100vh;
      }
    </style>
  </body>
</html>
